<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/demo.css">
</head>

<body>
<%- include ../global/header/header %>

<!-- 按钮颜色&大小 -->
<table class="btnBoxList">
    <tbody>
    <tr>
        <th width="130">样式尺寸</th>
        <th>编辑, 更改</th>
        <th>确认, 提交</th>
        <th>退回, 否定</th>
        <th>取消, 返回</th>
        <th>禁用, disabled</th>
        <th>只读, readonly</th>
    </tr>
    <tr>
        <th>按钮_大:  140*40</th>
        <td><input type="button" class="iBtn iBtn_edit" value="修改"/></td>
        <td><input type="button" class="iBtn iBtn_yes" value="确认"/></td>
        <td><input type="button" class="iBtn iBtn_no" value="退回"/></td>
        <td><input type="button" class="iBtn iBtn_def" value="取消"/></td>
        <td><input type="button" class="iBtn iBtn_yes" value="不可用" disabled/></td>
        <td><input type="button" class="iBtn iBtn_yes" value="只读" readonly/></td>
    </tr>
    <tr>
        <th>按钮_中:  96*32</th>
        <td><input type="button" class="iBtn iBtn_sm iBtn_edit" value="修改"/></td>
        <td><input type="button" class="iBtn iBtn_sm iBtn_yes" value="确认"/></td>
        <td><input type="button" class="iBtn iBtn_sm iBtn_no" value="退回"/></td>
        <td><input type="button" class="iBtn iBtn_sm iBtn_def" value="取消"/></td>
        <td><input type="button" class="iBtn iBtn_sm iBtn_yes" value="不可用" disabled/></td>
        <td><input type="button" class="iBtn iBtn_sm iBtn_yes" value="只读" readonly/></td>
    </tr>
    <tr>
        <th>按钮_小:  60*24</th>
        <td><input type="button" class="iBtn iBtn_xs iBtn_edit" value="修改"/></td>
        <td><input type="button" class="iBtn iBtn_xs iBtn_yes" value="确认"/></td>
        <td><input type="button" class="iBtn iBtn_xs iBtn_no" value="退回"/></td>
        <td><input type="button" class="iBtn iBtn_xs iBtn_def" value="取消"/></td>
        <td><input type="button" class="iBtn iBtn_xs iBtn_yes" value="不可用" disabled/></td>
        <td><input type="button" class="iBtn iBtn_xs iBtn_yes" value="只读" readonly/></td>
    </tr>


    <tr>
        <th>文本_大:  88% * 40</th>
        <td><input type="text" class="iIpt" value="" placeholder="正常状态" /></td>
        <td><input type="text" class="iIpt" value="输入状态" placeholder="请输入" /></td>
        <td><input type="text" class="iIpt iIpt_err" value="输入错误" placeholder="" /></td>
        <td></td>
        <td><input type="text" class="iIpt" value="" placeholder="禁用状态" disabled /></td>
        <td><input type="text" class="iIpt" value="" placeholder="只读状态" readonly /></td>
    </tr>
    <tr>
        <th>文本_中:88% * 32</th>
        <td><input type="text" class="iIpt iIpt_sm" value="" placeholder="请输入" /></td>
        <td><input type="text" class="iIpt iIpt_sm" value="输入状态" placeholder="请输入" /></td>
        <td><input type="text" class="iIpt iIpt_sm iIpt_err" value="输入错误" placeholder="" /></td>
        <td></td>
        <td><input type="text" class="iIpt iIpt_sm" value="" placeholder="禁用状态" disabled /></td>
        <td><input type="text" class="iIpt iIpt_sm" value="" placeholder="只读状态" readonly /></td>
    </tr>
    <tr>
        <th>文本_小:  88% * 24</th>
        <td><input type="text" class="iIpt iIpt_xs" value="" placeholder="正常状态" /></td>
        <td><input type="text" class="iIpt iIpt_xs" value="输入状态" placeholder="请输入" /></td>
        <td><input type="text" class="iIpt iIpt_xs iIpt_err" value="输入错误" placeholder="" /></td>
        <td></td>
        <td><input type="text" class="iIpt iIpt_xs" value="" placeholder="禁用状态" disabled /></td>
        <td><input type="text" class="iIpt iIpt_xs" value="" placeholder="只读状态" readonly /></td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>


<!-- 各种Icon图标-->
<div class="icnList">
    <p class="icnBox">
        <span class="icn_phone"></span>
        <span class="describe">手机</span>
    </p>
    <p class="icnBox">
        <span class="icn_tel"></span>
        <span class="describe">电话</span>
    </p>
    <p class="icnBox">
        <span class="icn_caretUp"></span>
        <span class="describe">向上</span>
    </p>
    <p class="icnBox">
        <span class="icn_caretDown"></span>
        <span class="describe">向下</span>
    </p>
    <p class="icnBox">
        <span class="icn_smallCross"></span>
        <span class="describe">小叉</span>
    </p>
    <p class="icnBox">
        <span class="icn_cross"></span>
        <span class="describe">大叉</span>
    </p>
    <p class="icnBox">
        <span class="icn_shop"></span>
        <span class="describe">商城</span>
    </p>
    <p class="icnBox">
        <span class="icn_picture"></span>
        <span class="describe">带图</span>
    </p>
    <p class="icnBox">
        <span class="icn_proper"></span>
        <span class="describe">专有</span>
    </p>
    <p class="icnBox">
        <span class="icn_doubt"></span>
        <span class="describe">疑问</span>
    </p>
    <p class="icnBox">
        <span class="icn_upLoad"></span>
        <span class="describe">上传</span>
    </p>
    <p class="icnBox">
        <span class="icn_downLoad"></span>
        <span class="describe">下载</span>
    </p>
    <p class="icnBox">
        <span class="icn_export"></span>
        <span class="describe">导出</span>
    </p>
    <p class="icnBox">
        <span class="icn_print"></span>
        <span class="describe">打印</span>
    </p>
    <p class="icnBox">
        <span class="icn_edit"></span>
        <span class="describe">编辑</span>
    </p>
    <p class="icnBox">
        <span class="icn_refresh"></span>
        <span class="describe">刷新</span>
    </p>
    <p class="icnBox">
        <span class="icn_date"></span>
        <span class="describe">日历.右</span>
    </p>
    <p class="icnBox">
        <span class="icn_date_l"></span>
        <span class="describe">日历.左</span>
    </p>
    <p class="icnBox">
        <span class="icn_warning"></span>
        <span class="describe">警告</span>
    </p>
    <p class="icnBox">
        <span class="icn_prompt"></span>
        <span class="describe">提示</span>
    </p>
    <p class="icnBox">
        <span class="icn_success"></span>
        <span class="describe">成功</span>
    </p>
</div>


<div class="icnList">
    <p class="icnBox">
        <span class="icn_fold"></span>
        <span class="describe">折叠.右</span>
    </p>
    <p class="icnBox">
        <span class="icn_spread"></span>
        <span class="describe">展开.下</span>
    </p>

    <p class="icnBox">
        <span class="icn_roundLight"></span>
        <span class="describe">圆点 亮</span>
    </p>
    <p class="icnBox">
        <span class="icn_roundGray"></span>
        <span class="describe">圆点 灰</span>
    </p>
    <p class="icnBox">
        <span class="icn_ellipsis"></span>
        <span class="describe">省略</span>
    </p>
    <p class="icnBox">
        <span class="icn_payCircle"></span>
        <span class="describe">支付正常</span>
    </p>
    <p class="icnBox">
        <span class="icn_payCircleWrong"></span>
        <span class="describe">支付异常</span>
    </p>
    <p class="icnBox">
        <span class="icn_arrowSmallLeft"></span>
        <span class="describe">方向键 左</span>
    </p>
    <p class="icnBox">
        <span class="icn_arrowSmallRight"></span>
        <span class="describe">方向键 右</span>
    </p>
    <p class="icnBox">
        <span class="icn_arrowBigLeft"></span>
        <span class="describe">方向键 左</span>
    </p>
    <p class="icnBox">
        <span class="icn_arrowBigRight"></span>
        <span class="describe">方向键 右</span>
    </p>

    <p class="icnBox">
        <span class="icn_warningMax"></span>
        <span class="describe">警告 大</span>
    </p>
    <p class="icnBox">
        <span class="icn_errorMax"></span>
        <span class="describe">错误 大</span>
    </p>
    <p class="icnBox">
        <span class="icn_successMax"></span>
        <span class="describe">成功 大</span>
    </p>
</div>


<p>&nbsp;</p>
<div class="icnList">
    <input type="button" class="btn btn-sm iBtn_no" value="模态框:提议" data-toggle="modal" data-target="#reasonsReturnModal" />
    <input type="button" class="btn btn-sm iBtn_no" value="模态框:提示" data-toggle="modal" data-target="#operationInfoModal" />

    <a href="#" class="btn btn-sm btn-info" id="msg_err">错误:提示框</a>
    <a href="#" class="btn btn-sm btn-info" id="msg_alt">警告:提示框</a>
    <a href="#" class="btn btn-sm btn-info" id="msg_info">信息:提示框</a>
    <a href="#" class="btn btn-sm btn-info" id="msg_done">完成:提示框</a>


    <span class="iBtn iBtn_down">
        <i class="iBtn_down_icn"></i>下载附件
    </span>
    <!-- 上传 -->
    <span class="iBtn iBtn_up">
        <i class="iBtn_up_icn"></i>点击上传
        <input id="upFile" class="iptFile" data-url="/api/upload-file" type="file" name="files">
    </span>
    <div class="fileList" style="display: inline-block">
        <p class="fileLab">
            <span class="fileLab_name">AAAAAAAAAAAAAA.JPG</span>
            <span class="fileLab_del" data-id=""></span>
        </p>
    </div>
</div>


<div class="containerWrap">
    <div class="bodyWrap">
        <!-- 状态条 -->
        <% include ../global/order/statusBar %>
        <p>&nbsp;</p>


        <!-- 退回原因提示框 板块 -->
        <%- include ../Plugins/reasonsReturnPlate %>
        <p>&nbsp;</p>


        <!-- 结算单信息 板块-->
        <%- include ../Plugins/settlementInfoPlate %>

    </div>
</div>





















<!--测试列表 -->
<div class="demoList fl">
    <table id="listBox">
        <thead>
        <tr>
            <th>序号</th>
            <th>城市</th>
            <th>描述</th>
        </tr>
        </thead>
        <tbody>

        <% listData.forEach(function(city){ %>
        <tr>
            <td><%= city.id%></td>
            <td><%= city.name%></td>
            <td><%= city.desc%></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>


<!-- 结算单退回原因: 模态框-->
<div class="modal fade" id="reasonsReturnModal" role="dialog">
    <div class="modal-dialog modal-pl" role="document">
        <div class="modal-content mt220 ">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close"></span>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <div class="pad_15">
                    <div class="txtAreaBox">
                        <div class="dockDown">您还可以输入<span class="limitNum">200</span>个字</div>
                        <textarea class="txtArea .returnText" name="remarks" rows="10" maxlength="200" placeholder="请简要填写退回原因，限200个字"></textarea>
                    </div>
                </div>
            </div>
            <p class="txt_c">
                <input type="button" class="iBtn iBtn_def" value="取消" data-dismiss="modal" />
                <input type="button" class="iBtn iBtn_yes ml20" value="确认" />
                <br/><br/><br/>
            </p>
            <!--<div class="modal-footer txt_c"></div>-->
        </div><!-- /.modal-content -->
    </div>
</div>


<!-- 操作提示信息: 模态框-->
<div class="modal fade" id="operationInfoModal" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mt150 ">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close"></span>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <span class="icn_successMax option_info_icn"></span>
                <p class="option_info">结算单已重新提交到买家确认！</p>
                <p class="option_warn"><span class="bright">5S</span> 后自动关闭</p>
                <p>&nbsp;</p>
            </div>
            <!--<div class="modal-footer txt_c"></div>-->
        </div><!-- /.modal-content -->
    </div>
</div>








<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>
<script src="/dist/scripts/demo.js"></script>

</body>
</html>



