<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/financialHome.css">
    <link rel="stylesheet" href="/dist/styles/wealth/addAccount.css">
    
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>


<div id="financial-body">
	<div class="financial-main">账户通 添加 账户 初始页</div>
</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="/dist/scripts/header/financialHeader.js"></script>
<script src="/dist/scripts/wealth/financialHome.js"></script>

</body>
</html>



