<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/bindingBankAccount.css">
    <link rel="stylesheet" href="<%= staticPath %>/styles/global.css">
</head>

<body>


<%- include ../global/header/header %>
<%- include ../global/modal/modal  %>



<div id="bindingBankAccount">
    <div class="test">

    </div>
    <div class="bindingBankAccountWrap">
        <% include ../global/order/statusBar %>
        <div class="accountInfoTit"><span>填写账户信息</span></div>
        <div class="accountInfoWrap">
            <ul class="accountInfoUl">
                <li class="accountInfoLi"><label><span>*</span>开户名称 :</label><%= companyName%></li>
                <li class="accountInfoLi bankName">
                    <label><span>*</span>开户行 :</label>
                    <select name="bankCode" id="bankCode">
                        <option value="">请输入开户行</option>
                        <% for(var i in bankList){%>
                            <option value=<%= bankList[i].bankCode%>><%= bankList[i].bankName%></option>
                        <%}%>
                    </select>
                    <p class="errorMsg"></p>
                </li>
                <li class="accountInfoLi region">
                    <label><span>*</span>开户行所在城市 :</label>
                    <div class="accountInfoChoise">
                        <select name="provinceCode" id="provinceCode" >
                            <option value="">请输入省份</option>
                            <% for(var i in provinceList){%>
                                <option value=<%= provinceList[i].provinceCode%>><%= provinceList[i].provinceName%></option>
                            <%}%>
                        </select>
                        <span class="unit">省</span>
                    </div>
                    <div class="accountInfoChoise">
                        <select name="cityCode" id="cityCode">
                            <option value="">请选择市</option>
                        </select>
                        <span class="unit">市</span>
                    </div>
                    <p><i></i>找不到所在城市? 请选所在地区的<span class="strengthTxt">上一级城市配置</span></p>
                    <p class="errorMsg"></p>
                </li>
                <li class="accountInfoLi childBankName">
                    <label><span>*</span>开户行支行名称 :</label>
                    <div class="childBankNameWrap">
                        <input type="text" class="accountInfoInput" id="childBankName" placeholder="请选择支行">
                    </div>
                    <p><i></i>找不到所在支行? 请选所在地区的<span class="strengthTxt">上一级支行</span></p>
                    <p class="errorMsg"></p>
                    <div class="childBankList"></div>
                </li>
                <li class="accountInfoLi account">
                    <label><span>*</span>企业对公账户 :</label>
                    <input type="text" class="accountInfoInput" id="account" name="account" placeholder="请输入对公账户号码" maxlength="25">
                    <p class="errorMsg"></p>
                </li>
                <li class="accountInfoLi">
                    <label>手机号码 :</label>
                    <%= payPhone%><input type='hidden' name='payPhone' value='<%= payPhone %>'>
                    <p class="errorMsg"></p>
                </li>
                <li class="accountInfoLi vertifyCode">
                    <label><span>*</span>验证码 :</label>
                    <div class="verifyWrap">
                        <input type="text" class="accountInfoInput" id="vertifyCode" name="vertifyCode" placeholder="请输入验证码">
                        <span class="countDown" id="send_code" data-target="#imgcodeModal" data-toggle="modal">获取验证码</span>
                        <i class="successIcon"></i>
                    </div>
                    <p class="errorMsg"></p>
                </li>
            </ul>
            <div class="btnWrap submitTotal">
                <!--<p>-->
                    <!--<input type="checkbox" id="haveRead" class="haveRead">-->
                    <!--<label for="haveRead">我同意</label><a href="javascript:void(0)" class="protocol">《易煤网出金服务协议》</a>-->
                <!--</p>-->
                <a href="javascript:void(0)" class="submitInfo" id="submitInfo">确认</a>
                <p class="errorMsg"></p>
            </div>
        </div>
    </div>
    <input type="hidden" value=<%= userId%> id="userId"/>
</div>
<!--验证码弹窗-->
<%- include ../../custom_components/ccapimg-modal/ccapimg-modal %>
<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>
<script src="<%= staticPath %>/scripts/wealth/bindingBankAccount.js"></script>
</body>
</html>




