<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/contractList.css">
</head>

<body>


<%- include ../global/header/header %>
<%- include ../global/header/financialSecondHeader %>

<div class="contract-body">
    <div class="contract-main">
        <form id="searchForm" action="/wealth/financialContract" >
            <input type="hidden" name="firstTab" value="<%=clearEmpty(tabObj.firstTab)%>"/>
            <input type="hidden" name="secondTab" value="<%=clearEmpty(tabObj.secondTab)%>"/>
            <div class="search-div">
                <span>签订日期:</span>
                <div class="time"><input type="text" name="startDate" class="iIpt iIpt_sm startDate" placeholder="yyyy-mm-dd" value="<%=clearEmpty(startDate)%>"/></div>
                <span class="to">至</span>
                <div class="time"><input type="text" name="endDate" class="iIpt iIpt_sm endDate" placeholder="yyyy-mm-dd" value="<%=clearEmpty(endDate)%>"/></div>
                <!--<span>编号:</span>-->
                <select name="type" id="searchType">
                    <option value="0">全部</option>
                    <option value="1" <%if(type===1){ %>selected<% } %>>订单编号</option>
                    <option value="2" <%if(type===2){ %>selected<% } %>>合同编号</option>
                    <option value="4" <%if(type===4){ %>selected<% } %>>对方公司名称</option>
                </select>
                <input type="text" name="content" class="iIpt iIpt_sm record-number content" id="content" value="<%=clearEmpty(content)%>"/>

                <input type="hidden" value="<%= count %>" id="count">
                <input type="hidden" value="<%= page %>" id="page" name="page">
                <input type="hidden" value="<%= pagesize %>" id="pagesize">

                <input type="submit" class="iBtn iBtn_sm iBtn_yes ml-40" value="查询" id="submitSearch">
            </div>
        </form>
        <div class="contract-div" ms-controller="financialPaginationController">
            <table class="transaction-table">
                <thead>
                <tr>
                    <th width="100">签订日期</th>
                    <th width="120">订单编号</th>
                    <th width="120">合同编号</th>
                    <th width="160">对方公司名称</th>
                    <th width="120">操作</th>
                </tr>
                </thead>
                <tbody>
                <%if(typeof contractList && contractList.length>0){%>
                    <%for(var i in contractList){%>
                    <tr class="line">
                        <td width="100"><%=dateformat(contractList[i].signContractTime)%></td>
                        <td width="120"><%=contractList[i].orderNO%></td>
                        <td width="120"><%=contractList[i].contractNO%></td>
                        <td width="160"><div class="company"><%=ellipse(contractList[i].sellerCompanyName,30)%></div></td>
                        <td width="120">
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-download mr-16" value="下载" data-id="<%=contractList[i].orderId%>"/>
                            <a target="_blank" href="/compactDetail?orderId=<%=contractList[i].orderId%>">查看详情</a></td>
                    </tr>
                    <%}%>
                <%}else{%>
                    <tr>
                        <td colspan="5" class="no-data">暂无符合条件的合同</td>
                    </tr>
                <%}%>
                </tbody>
            </table>

            <xmp ms-widget="[{is:'ms-pagination'}, @configPagination]"></xmp>

        </div>
    </div>
</div>

<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/wealth/transactionRecord.js"></script>

</body>
</html>