<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/contractList.css">
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="contract-body">
    <div class="contract-main">
        <form action="/finance/transaction/list" method="get">
        <div class="search-div">
            <!--<div class="search-row row-one">-->
                <span>签订时间:</span>
                <div class="time"><input type="text" name="startDate" class="iIpt iIpt_sm startDate" placeholder="yyyy-mm-dd" value="<%=startDate%>"/></div>
                <span class="to">至</span>
                <div class="time"><input type="text" name="endDate" class="iIpt iIpt_sm endDate" placeholder="yyyy-mm-dd" value="<%=endDate%>"/></div>
                <span>交易编号:</span>
                <select name="searchType" id="searchType">
                    <option value="0">全部</option>
                    <option value="1" <%if(searchType==1){ %>selected<% } %>>订单编号</option>
                    <option value="2" <%if(searchType==2){ %>selected<% } %>>合同编号</option>
                    <option value="3" <%if(searchType==3){ %>selected<% } %>>流水号</option>
                    <option value="4" <%if(searchType==4){ %>selected<% } %>>公司名称</option>
                </select>
                <input type="text" name="content" class="iIpt iIpt_sm record-number content" id="content" value="<%=content%>"/>
                <input type="submit" class="iBtn iBtn_sm iBtn_yes ml-40" value="查询">
            <!--</div>-->
        </div>
        </form>
        <div class="contract-div">
            <table class="transaction-table">
                <thead>
                <tr>
                    <th width="130">签订时间</th>
                    <th width="100">订单号</th>
                    <th width="100">合同编号</th>
                    <th width="160">对方公司名称</th>
                    <th width="140">操作</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i in recordList){%>
                <tr class="line">
                    <td width="130"><%=recordList[i].createTime%></td>
                    <td width="100"><%=recordList[i].typeName%></td>
                    <td width="160"><%=recordList[i].totalMoney%></td>
                    <td width="120"><%=recordList[i].statusName%></td>
                    <td width="140">
                        <input type="button" class="iBtn iBtn_xs iBtn_no btn-option" value="下载"/>
                        <a href="http://pay-local.yimei180.com:3000/compactDetail?orderId=11111">查看详情</a></td>
                </tr>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/wealth/transactionRecord.js"></script>

</body>
</html>