<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/financialHome.css">
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>


<div id="financial-body">
    <div class="financial-main">
        <div class="financial-header">
            <div class="header-left border-right">
                <div class="username"><%= finance.companyName %></div>
                <div class="companyname"><%= finance.companyName %></div>
                <div class="occupation"><span class="label">职务：</span>会计</div>
                <ul>
                    <li><span class="label">消息：</span><span>0</span>0</li>
                    <li class="separator"></li>
                    <li><span class="label">付款：</span>0</li>
                    <li class="separator"></li>
                    <li><span class="label">业务：</span>0</li>
                </ul>
            </div>
            <div class="header-center border-right">
                <div class="useraccount"><span class="label fs-14">易煤网资金账号：</span><%= finance.userFundAccount %></div>
                <div class="center-operate">
                    <span class="balance">余额：<span class="orange"><%= formatMoney((finance.balanceMoney==null||finance.balanceMoney==undefined)==true? 0 : finance.balanceMoney)%>元</span></span>
                    <span class="look">查看</span>
                    <span class="btn-option mr-10">提现</span>
                    <span class="btn-option recharge mr-10">充值</span>
                </div>
            </div>
            <div class="header-right">
                <div class="bank-card">
                    <span class="bank-icon ml-20"></span>
                    <span class="fs-24 ml-10 account-color">银行账户</span>
                    <span class="manage-color">管理</span>
                </div>
                <% if(finance.cashBankAccount==null){ %>
                <div class="bank-add">
                    <span class="add-icon"></span>
                    <span class="label-add">添加银行账户</span>
                </div>
                <% }else{ %>
                <div class="bank-info">
                    <div class="label-content"><%= finance.cashBankName %></div>
                    <div class="label-content"><%= blankFour(finance.cashBankAccount) %></div>
                </div>
                <% } %>
            </div>
        </div>
        <!-- 充值提示框-->
        <div class="bubble bubble-hidden">
            <div class="bubble-body">
                <span class="icn_smallCross close"></span>
                <div class="bubble-title color-hint">充值说明</div>
                <div class="mt-12">
                    为了保证资金安全，易煤网暂时不提供线上充值服务，请通过<span class="color-hint">银行网银</span>或银行<span class="color-hint">柜台</span>进行充值
                </div>
            </div>
        </div>
        <div class="list-title">
            <span class="record-title">近期交易记录</span>
            <ul class="record-ul">
                <li><a>充值记录</a></li>
                <li class="separator"></li>
                <li><a>提现记录</a></li>
                <li class="separator"></li>
                <li><a>交易回执</a></li>
            </ul>
            <a class="record-all" href="/wealth/financialTransaction?firstTab=3&secondTab=1">查看所有交易记录&gt;&gt;</a>
        </div>
        <div class="financial-center">
            <div class="record-div">
            <table class="record-table">
                <% if(recordList.typeof != "undefined"){%>
                <%for(var i=0;i<recordList.length;i++){%>
                <tr>
                    <td width="60"><%= recordList[i].createTime %></td>
                    <td width="150"><%= recordList[i].typeName %></td>
                    <td width="100"><% if(recordList[i].typeName=="采购"){ %>-<% }else{ %>+<% } %><%= recordList[i].totalMoney %></td>
                    <% if(recordList[i].status=="WaitPayment"){ %>
                    <td width="100" class="orange"><%= recordList[i].statusName %></td>
                    <td width="80"><span class="iBtn iBtn_xs iBtn_no btn-pay">付款</span></td>
                    <% }else{ %>
                    <td width="100"><%= recordList[i].statusName %></td>
                    <td width="80"><a>详情</a></td>
                    <% } %>
                </tr>
                <% } %>
                <% } %>
            </table>
            </div>
        </div>
    </div>
</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/header/financialHeader.js"></script>
<script src="<%= staticPath %>/scripts/wealth/financialHome.js"></script>

</body>
</html>



