<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/financialHome.css">
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="financial-body">
    <div class="financial-main">

        <div class="row financial-details">
            <form class="form-inline">
                <div class="form-row">
                    <div class="form-group form-search">
                        <label class="col-sm-3 control-label" for="orderCategory">订单分类:</label>

                        <select class="form-control inputselect" id="orderCategory" >
                            <option>全部</option>
                            <option>2</option>
                        </select>
                    </div>

                    <div class="form-group form-search">
                        <label class="col-sm-3 control-label" for="orderCategory">交易时间:</label>

                        <select class="form-control inputselect" id="orderCategory" >
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>

                    <div class="form-group form-search">
                        <label class="col-sm-3 control-label" for="orderCategory">交易状态:</label>

                        <select class="form-control inputselect" id="orderCategory" >
                            <option>全部</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group form-search">
                        <label class="col-sm-3 control-label" for="orderCategory">交易状态:</label>

                        <select class="form-control inputselect" id="orderCategory" >
                            <option>全部</option>
                            <option>2</option>
                        </select>
                    </div>

                    <div class="form-group form-search">
                        <label class="sr-only" for="exampleInputEmail3">交易编号</label>
                        <input type="text" class="form-control inputselect inputbox" id="exampleInputName2" placeholder="请输入编号号码">
                    </div>

                    <button type="submit" class="iBtn iBtn_sm iBtn_yes">查询</button>
                </div>



            </form>
        </div>


    </div>
</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="/dist/scripts/header/financialHeader.js"></script>
<script src="/dist/scripts/wealth/financialHome.js"></script>

</body>
</html>



