<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/financialHome.css">
</head>

<body>


<%- include ../global/header/header %>
<%- include ../global/header/financialSecondHeader %>
<%- include ../global/modal/modal %>


<div id="financial-body">
    <div class="financial-main">
        <div class="financial-header">
            <div class="header-left border-right">
                <div class="username"><%= user.securephone %></div>
                <div class="companyname"><%= finance.companyName %></div>
                <div class="occupation"><span class="label">职务：</span>员工</div>
                <ul>
                    <li><span class="label">消息：</span><span>0</span>0</li>
                    <li class="separator"></li>
                    <li><span class="label">付款：</span>0</li>
                    <li class="separator"></li>
                    <li><span class="label">业务：</span>0</li>
                </ul>
            </div>
            <div class="header-center border-right">
                <div class="useraccount"><span class="label fs-14">易煤网资金账户号：</span><%= blankFour(finance.userFundAccount) %></div>
                <div class="center-operate">
                    <span class="balance">余额：<span class="orange"><%= formatMoney(((finance.balanceMoney===null||typeof finance.balanceMoney)===true? 0 : finance.balanceMoney),2)%>元</span></span>
                    <a class="a-link look" href="/wealth/financialDetails">查看</a>
                    <span class="iBtn iBtn_xs iBtn_no mr-10 btn-option btn-drawCash">提现</span>
                    <span class="iBtn iBtn_xs iBtn_no mr-10 btn-option recharge">充值</span>
                </div>
            </div>
            <div class="header-right">
                <div class="bank-card">
                    <span class="bank-icon ml-20"></span>
                    <span class="fs-24 ml-10 account-color">银行账户</span>
                    <a class="a-link manage-color" href="/wealth/addAccount">管理</a>
                </div>
                <% if(fundAccountStatus === 1) { %>
                    <div class="bank-add">
                        <div class="bank-add">
                            <a>资金账户正在开通</a>
                        </div>
                    </div>
                <%} else if(fundAccountStatus === 2) {%>
                    <% if(finance.cashBankAccount===null){ %>
                        <% if(cashAccount && cashAccount.status*1 == 1){ %>
                            <div class="bank-add">
                                <a>等待银行汇款</a>
                            </div>
                        <% }else if(cashAccount && cashAccount.status*1 == 2){ %>
                            <div class="bank-add">
                                <a href="/wealth/bindingSuccess">确认银行汇款</a>
                            </div>
                        <% }else{ %>
                            <div class="bank-add">
                                <a class="add-icon"></a>
                                <a class="a-link label-add">添加银行账户</a>
                            </div>
                        <% } %>
                    <% }else{ %>
                        <div class="bank-info">
                            <div class="label-content"><%= finance.cashBankName %></div>
                            <div class="label-content"><%= blankFour(finance.cashBankAccount) %></div>
                        </div>
                    <%}%>
                <% } else if(fundAccountStatus === 3) { %>
                    <div class="bank-add">
                        <a>资金账户已被禁用</a>
                    </div>
                <% } else {%>
                    <div class="bank-add">
                        <a>资金账户已被锁定</a>
                    </div>
                <%}%>

            </div>
        </div>
        <!-- 充值提示框-->
        <div class="bubble bubble-hidden">
            <div class="bubble-body">
                <span class="icn_smallCross close"></span>
                <div class="bubble-title color-hint">充值说明</div>
                <div class="mt-12">
                    为了保证资金安全，易煤网暂时不提供线上充值服务，请通过<span class="color-hint">银行网银</span>或银行<span class="color-hint">柜台</span>进行充值
                </div>
            </div>
        </div>
        <div class="list-title">
            <span class="record-title">近期交易记录</span>
            <ul class="record-ul">
                <li><a href="/wealth/financialDetails?category=1">充值记录</a></li>
                <li class="separator"></li>
                <li><a href="/wealth/financialDetails?category=2">提现记录</a></li>
                <li class="separator"></li>
                <li><a href="/wealth/financialDetails">交易回执</a></li>
            </ul>
            <a class="record-all" href="/wealth/financialTransaction">查看所有交易记录&gt;&gt;</a>
        </div>
        <div class="financial-center">
            <div class="record-div">
            <table class="record-table">
                <% if(typeof recordList && recordList.length>0){%>
                    <%for(var i=0;i<recordList.length;i++){%>
                    <tr class="line">
                        <td width="60"><div><%= dateformat(recordList[i].createTime) %></div></td>
                        <td width="150"><div><%= recordList[i].typeName %></div></td>
                        <td width="100"><div><% if(recordList[i].typeName==="采购"){ %>-<% }else{ %>+<% } %><%= formatMoney(recordList[i].totalMoney,2) %></div></td>
                        <td width="100">
                            <% if(recordList[i].status === 'WaitSignContract'){ %>
                            <span class="status-green WaitSignContract">待签订合同</span>
                            <% }else if(recordList[i].status === 'WaitPayment'){ %>
                            <span class="status-green">待付款</span>
                            <% }else if(recordList[i].status === 'WaitConfirmDelivery'){ %>
                            <span class="status-green">待确认提货</span>
                            <% }else if(recordList[i].status === 'ReturnedDeliveryGoods'){ %>
                            <span class="status-red">确认提货被退回</span>
                            <% }else if(recordList[i].status === 'WaitVerifyDeliveryGoods'){ %>
                            <span class="status-green">待卖家审核提货</span>
                            <% }else if(recordList[i].status === 'WaitSettleAccounts'){ %>
                            <span class="status-green">待开具结算单</span>
                            <% }else if(recordList[i].status === 'WaitVerifySettle'){ %>
                            <span class="status-green">待确认结算</span>
                            <% }else if(recordList[i].status === 'ReturnedSettleAccounts'){ %>
                            <span class="status-red">结算已退回</span>
                            <% }else if(recordList[i].status === 'WaitPayRefundMoney'){ %>
                            <span class="status-green">待退款</span>
                            <% }else if(recordList[i].status === 'WaitPayTailMoney'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitWriteReceipt'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitReceiveReceipt'){ %>
                            <span class="status-green">待收发票</span>
                            <% }else if(recordList[i].status === 'WaitImproveReceipt'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'TradeDisputing'){ %>
                            <span class="status-green">纠纷待处理</span>
                            <% }else if(recordList[i].status === 'TradeDisputeFinished'){ %>
                            <span><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'MakeMatch'){ %>
                            <span>撮合中</span>
                            <% }else if(recordList[i].status === 'Deleted'){ %>
                            <span>已删除</span>
                            <% }else if(recordList[i].status === 'Canceled'){ %>
                            <span>已取消</span>
                            <% }else if(recordList[i].status === 'Completed'){ %>
                            <span>交易完成</span>
                            <% }else if(recordList[i].status === 'TradeFinished'){ %>
                            <span>交易结束</span>
                            <% }else if(recordList[i].status === 'TradeClosed'){ %>
                            <span>交易关闭</span>
                            <% }else{ %>
                            <span class=""><%=recordList[i].status%></span>
                            <%}%>
                        </td>
                        <td width="80">
                            <%if(recordList[i].type===0){%>
                            <% if(recordList[i].status==='WaitSignContract'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-signContract" value="签订合同" data-id="<%= recordList[i].id %>">
                            <a class="mt-10 btn-closeTrade" data-id="<%= recordList[i].id %>">关闭交易</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayment'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-payMoney" value="付款" data-id="<%= recordList[i].id %>">
                            <a class="mt-10 btn-closeTrade" data-id="<%= recordList[i].id %>">关闭交易</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitConfirmDelivery'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-deliveryGoods" value="确认提货" data-id="<%= recordList[i].id %>">
                            <a class="mt-10 btn-applyDispute" data-id="<%= recordList[i].id %>">申请纠纷处理</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='ReturnedDeliveryGoods'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-deliveryGoods" value="重新确认提货" data-id="<%= recordList[i].id %>">
                            <a class="mt-10 btn-applyDispute" data-id="<%= recordList[i].id %>">申请纠纷处理</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitVerifyDeliveryGoods'){ %>
                            <a class="btn-deliveryDetail" data-id="<%= recordList[i].id %>">查看提货详情</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitSettleAccounts'){ %>
                            <a class="notice-sellerSettle" data-id="<%= recordList[i].id %>">提醒卖家开结算单</a>
                            <a class="mt-10 btn-applyDispute" data-id="<%= recordList[i].id %>">申请纠纷处理</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitVerifySettle'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-confirmSettle" value="确认结算" data-id="<%= recordList[i].id %>">
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='ReturnedSettleAccounts'){ %>
                            <a class="notice-sellerSettle" data-id="<%= recordList[i].id %>">提醒卖家开结算单</a>
                            <a class="mt-10 btn-buyerLookSettle" data-id="<%= recordList[i].id %>">查看结算单</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayRefundMoney'){ %>
                            <a class="notice-sellerRetrunMoney" data-id="<%= recordList[i].id %>">提醒卖家退款</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayTailMoney'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-tailMoney" value="支付尾款" data-id="<%= recordList[i].id %>">
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitWriteReceipt'){ %>
                            <a class="notice-sellerWriteReceipt" data-id="<%= recordList[i].id %>">提醒卖家开发票</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitReceiveReceipt'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-receiveReceipt" value="确认收到发票" data-id="<%= recordList[i].id %>">
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitImproveReceipt'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-improveReceipt" value="完善开票信息" data-id="<%= recordList[i].id %>">
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeDisputing'){ %>
                            <a target="_blank" href="/dispute/disputeDetail?orderId=<%= recordList[i].id %>">查看纠纷详情</a>
                            <a class="mt-10" target="_blank" href="/dispute/disputeDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeDisputeFinished'){ %>
                            <a target="_blank" href="/dispute/disputeComplete?orderId=<%= recordList[i].id %>">查看纠纷详情</a>
                            <a class="mt-10" target="_blank" href="/dispute/disputeComplete?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='MakeMatch'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Canceled'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Deleted'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Completed'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeFinished'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeClosed'){ %>
                            <a class="btn-delete" data-id="<%= recordList[i].id %>">删除</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else{ %>
                                <a><%=recordList[i].status%></a>
                            <% } %>
                            <% }else{ %>
                            <% if(recordList[i].status==='WaitSignContract'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayment'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitConfirmDelivery'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='ReturnedDeliveryGoods'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitVerifyDeliveryGoods'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitSettleAccounts'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-settleAccounts" value="开具结算单">
                            <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitVerifySettle'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='ReturnedSettleAccounts'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayRefundMoney'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-retrunMoney" value="退款">
                            <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayTailMoney'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitWriteReceipt'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-writeReceipt" value="确认已开发票">
                            <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitReceiveReceipt'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitImproveReceipt'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeDisputing'){ %>
                            <a target="_blank" href="/dispute/disputeSellerDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeDisputeFinished'){ %>
                            <a target="_blank" href="/dispute/disputeComplete?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='MakeMatch'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Canceled'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Deleted'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Completed'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeFinished'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeClosed'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else{ %>
                            <a><%=recordList[i].status%></a>
                            <% } %>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                <% }else{ %>
                    <tr>
                    <td colspan="5" class="no-data">暂无交易记录</td>
                </tr>
                <% } %>
            </table>
            </div>
        </div>
    </div>
</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/header/financialHeader.js"></script>
<script src="<%= staticPath %>/scripts/wealth/financialHome.js"></script>

</body>
</html>



