<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/static/styles/financialHome.css">
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>


<div id="financial-body">

</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="/static/scripts/header/financialHeader.js"></script>
<script src="/static/scripts/wealth/financialHome.js"></script>

</body>
</html>



