<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/financialHome.css">
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="financial-body">
    <div class="financial-main">

        <div class="row financial-details ms-controller" ms-controller="financialDetailsController">


            <form class="form-inline">
                <div class="form-row" >
                    <div class="form-group form-search indexHigh">
                        <label class="col-sm-4 control-label" for="orderCategory">摘要:</label>
                        <select name="orderCategory" id="orderCategory" >
                            <% formSelectOrderCategory.forEach(function(order){ %>
                            <option value="<%= order.value %>" <% if (order.selected) { %> selected <% } %> ><%= order.text %></option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="form-group form-search form-search-big">
                        <label class="col-sm-2 control-label label-timefrom" for="orderDateFrom">交易时间:</label>
                        <div class="col-sm-4">

                            <input type="text" class="form-control input-text input-date orderDateFrom iIpt_date" name="orderDateFrom" placeholder="yyyy-mm-dd"/>
                            <!--<span class="input-date-icon" ></span>-->
                        </div>
                        <label class="col-sm-1 control-label label-timeto" for="orderDateTo">到:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-text input-date orderDateTo iIpt_date" name="orderDateTo" placeholder="yyyy-mm-dd" />
                            <!--<span class="input-date-icon" ></span>-->
                        </div>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group form-search">
                        <label class="col-sm-4 control-label" for="orderSearchType">类型:</label>
                        <select name="orderSearchType" id="orderSearchType" class="">

                            <% formSelectOrderSearchType.forEach(function(order){ %>
                            <option value="<%= order.value %>"><%= order.text %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-group form-search form-search-big">
                        <label class="sr-only" for="orderSearchText">交易状态</label>
                        <input type="text" class="form-control input-text input-box" id="orderSearchText" placeholder="请输入交易流水号" ms-duplex="@orderSearchText">
                    </div>

                    <button class="iBtn iBtn_sm iBtn_yes " ms-click="@searchOrder">查询</button>
                </div>

            </form>

            <div class="row table-box">
                <div class="list-title">
                    <span class="record-title">易煤网资金账户号:</span>
                    <span class="record-no"><%= blankFour(userFundAccount) %></span>

                    <span class="record-download iBtn iBtn_down iBtn_xs" data-toggle="modal" data-target="#downloadExcel">
                        <i class="iBtn_down_icn"></i>下载收支明细
                    </span>
                </div>


                <div class="search-content">
                    <div class="loading_big" ms-visible="@orderShowLoading">
                        <div class="loading_pic">
                            <img src="<%= staticPath %>/images/loading3.gif">
                        </div>
                    </div>


                    <table class="table financeDetailTable" ms-visible="!@orderShowLoading">
                        <tr>
                            <th >交易日期</th>
                            <th >交易流水号</th>
                            <th >金额</th>
                            <th >账户余额</th>
                            <th >摘要</th>
                            <th >对方账号</th>
                            <th >对方账号名称</th>
                            <th >操作</th>
                        </tr>


                        <tr ms-for='(key, order) in @orderList'>
                            <td >{{order.createDate }} </td>
                            <td >{{order.transactionNO }} <span ms-visible="!order.transactionNO"> - </span></td>
                            <td >{{order.money | number(2) }}</td>
                            <td >{{order.balanceMoney | number(2)}}</td>
                            <td >{{order.type}}</td>
                            <td >{{order.otherFundAccount}}</td>
                            <td >{{order.otherCompanyName}}</td>
                            <td ><span class="iBtn iBtn_xs iBtn_no" ms-click="@printOrder(order.fundAccount, order.printCode)">打印回执</span></td>
                        </tr>
                        <tr ms-visible="@orderList.length===0 && !@orderShowLoading">
                            <td colspan="8" class="no-data">暂无符合条件的数据</td>
                        </tr>

                    </table>


                    <xmp ms-widget="[{is:'ms-pagination'}, @configPagination]"></xmp>

                </div>
            </div>

        </div>



        <!-- 操作提示信息: 模态框-->
        <div class="modal fade" id="downloadExcel" role="dialog">
            <div class="modal-dialog modal-sm" role="document">

                <div class="modal-content mt150 financial-details">
                    <div class="modal-header">
                        <span class="close" data-dismiss="modal" aria-label="Close"></span>
                        <h4 class="modal-title">请设置下载条件</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-inline" onsubmit="return false">
                            <div class="form-row" >
                                <div class="form-group form-search form-search-big">
                                    <label class="col-sm-2 control-label label-timefrom" for="orderDownloadDateFrom">交易时间:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-text input-date  iIpt_date" name="orderDownloadDateFrom" placeholder="yyyy-mm-dd"/>
                                    </div>
                                    <label class="col-sm-1 control-label label-timeto" for="orderDownloadDateTo">到:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-text input-date iIpt_date" name="orderDownloadDateTo" placeholder="yyyy-mm-dd" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row" >
                                <div class="form-group form-search form-search-big">
                                    <label class="col-sm-2 control-label label-timefrom" for="orderDownloadDateFrom">文件格式:</label>
                                    <div class="col-sm-4">
                                        <button class="button_pdf"> <span>PDF格式下载</span></button>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="button_xls"><span>Excel格式下载</span></button>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="form-row  ">-->
                                <!--<div class="form-group form-search form-search-big">-->
                                    <!--<label class="col-sm-4 control-label sr-only" >下载</label>-->
                                    <!--<div class="col-sm-4">-->
                                        <!--<button class="iBtn iBtn_sm iBtn_yes button-margin" >确认下载</button>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->

                        </form>
                    </div>
                    <!--<div class="modal-footer txt_c"></div>-->
                </div><!-- /.modal-content -->
            </div>
        </div>


    </div>
</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>


<script src="<%= staticPath %>/scripts/header/financialHeader.js"></script>
<script src="<%= staticPath %>/scripts/wealth/financialHome.js"></script>

</body>
</html>



