<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/financialHome.css">
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>


<div id="financial-body">
    <div class="financial-main">
        <div class="financial-header">
            <div class="header-left border-right">
                <div class="username"><%= finance.companyName %></div>
                <div class="companyname"><%= finance.companyName %></div>
                <div class="occupation"><span class="label">职务：</span>员工</div>
                <ul>
                    <li><span class="label">消息：</span><span>0</span>0</li>
                    <li class="separator"></li>
                    <li><span class="label">付款：</span>0</li>
                    <li class="separator"></li>
                    <li><span class="label">业务：</span>0</li>
                </ul>
            </div>
            <div class="header-center border-right">
                <div class="useraccount"><span class="label fs-14">易煤网资金账号：</span><%= finance.userFundAccount %></div>
                <div class="center-operate">
                    <span class="balance">余额：<span class="orange"><%= formatMoney((finance.balanceMoney==null||finance.balanceMoney==undefined)==true? 0 : finance.balanceMoney)%>元</span></span>
                    <a class="look" href="/wealth/financialDetails">查看</a>
                    <a class="btn-option mr-10" href="/drawCash">提现</a>
                    <a class="btn-option recharge mr-10">充值</a>
                </div>
            </div>
            <div class="header-right">
                <div class="bank-card">
                    <span class="bank-icon ml-20"></span>
                    <span class="fs-24 ml-10 account-color">银行账户</span>
                    <a class="manage-color" href="/wealth/addAccount">管理</a>
                </div>
                <% if(finance.cashBankAccount==null){ %>
                <div class="bank-add">
                    <a class="add-icon"></a>
                    <a class="label-add">添加银行账户</a>
                </div>
                <% }else{ %>
                <div class="bank-info">
                    <div class="label-content"><%= finance.cashBankName %></div>
                    <div class="label-content"><%= blankFour(finance.cashBankAccount) %></div>
                </div>
                <% } %>
            </div>
        </div>
        <!-- 充值提示框-->
        <div class="bubble bubble-hidden">
            <div class="bubble-body">
                <span class="icn_smallCross close"></span>
                <div class="bubble-title color-hint">充值说明</div>
                <div class="mt-12">
                    为了保证资金安全，易煤网暂时不提供线上充值服务，请通过<span class="color-hint">银行网银</span>或银行<span class="color-hint">柜台</span>进行充值
                </div>
            </div>
        </div>
        <div class="list-title">
            <span class="record-title">近期交易记录</span>
            <ul class="record-ul">
                <li><a href="/wealth/financialDetails?category=1">充值记录</a></li>
                <li class="separator"></li>
                <li><a href="/wealth/financialDetails?category=2">提现记录</a></li>
                <li class="separator"></li>
                <li><a href="/wealth/financialDetails">交易回执</a></li>
            </ul>
            <a class="record-all" href="/wealth/financialTransaction">查看所有交易记录&gt;&gt;</a>
        </div>
        <div class="financial-center">
            <div class="record-div">
            <table class="record-table">
                <% if(recordList.typeof != "undefined"){%>
                <%for(var i=0;i<recordList.length;i++){%>
                <tr>
                    <td width="60"><div><%= recordList[i].createTime %></div></td>
                    <td width="150"><div><%= recordList[i].typeName %></div></td>
                    <td width="100"><div><% if(recordList[i].typeName=="采购"){ %>-<% }else{ %>+<% } %><%= recordList[i].totalMoney %></div></td>
                    <td width="100"><div><%= recordList[i].statusName %></div></td>
                    <td width="80">
                        <!--<div class="iBtn iBtn_xs iBtn_no btn-signContract">签订合同</div>-->
                        <%if(recordList[i].type==0){%>
                        <% if(recordList[i].status=='WaitSignContract'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitPayment'){ %>
                        <input type="button" class="iBtn iBtn_xs iBtn_no btn-payMoney" value="付款" data-id="<%= recordList[i].id %>">
                        <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitConfirmDelivery'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='ReturnedDeliveryGoods'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitVerifyDeliveryGoods'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitSettleAccounts'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitVerifySettle'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='ReturnedSettleAccounts'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitPayRefundMoney'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitPayTailMoney'){ %>
                        <input type="button" class="iBtn iBtn_xs iBtn_no btn-tailMoney" value="支付尾款" data-id="<%= recordList[i].id %>">
                        <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitWriteReceipt'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>" data-version="<%= recordList[i].version %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitReceiveReceipt'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitImproveReceipt'){ %>
                        <input type="button" class="iBtn iBtn_xs iBtn_no btn-improveReceipt" value="完善开票信息" data-id="<%= recordList[i].id %>">
                        <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='TradeDisputing'){ %>
                        <a target="_blank" href="/dispute/disputeDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='TradeDisputeFinished'){ %>
                        <a target="_blank" href="/dispute/disputeComplete?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='MakeMatch'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='Canceled'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='Completed'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='TradeFinished'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='TradeClosed'){ %>
                        <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else{ %>
                        <%=recordList[i].status%>
                        <% } %>
                        <% }else{ %>
                        <% if(recordList[i].status=='WaitSignContract'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitPayment'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitConfirmDelivery'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='ReturnedDeliveryGoods'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitVerifyDeliveryGoods'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitSettleAccounts'){ %>
                        <input type="button" class="iBtn iBtn_xs iBtn_no btn-settleAccounts" value="开具结算单">
                        <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitVerifySettle'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='ReturnedSettleAccounts'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitPayRefundMoney'){ %>
                        <input type="button" class="iBtn iBtn_xs iBtn_no btn-retrunMoney" value="退款">
                        <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitPayTailMoney'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitWriteReceipt'){ %>
                        <input type="button" class="iBtn iBtn_xs iBtn_no btn-writeReceipt" value="确认已开发票">
                        <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitReceiveReceipt'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='WaitImproveReceipt'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='TradeDisputing'){ %>
                        <a target="_blank" href="/dispute/disputeSellerDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='TradeDisputeFinished'){ %>
                        <a target="_blank" href="/dispute/disputeComplete?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='MakeMatch'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='Canceled'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='Completed'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='TradeFinished'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else if(recordList[i].status=='TradeClosed'){ %>
                        <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                        <% }else{ %>
                        <%=recordList[i].status%>
                        <% } %>
                        <% } %>
                    </td>
                </tr>
                <% } %>
                <% } %>
            </table>
            </div>
        </div>
    </div>
</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/header/financialHeader.js"></script>
<script src="<%= staticPath %>/scripts/wealth/financialHome.js"></script>

</body>
</html>



