<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/static/styles/buyOrderDetail.css">
</head>

<body>

<%- include ../global/header/financialCenterHeader %>

<%- include ../global/header/financialSubHeader %>


<div id="order-detail-body">
    djddjdjdjjdjddjjd
</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="/static/scripts/header/financialHeader.js"></script>
<script src="/static/scripts/wealth/financialHome.js"></script>

</body>
</html>



