<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/wealth/openFundAccount.css">
</head>

<body>
<%- include ../global/header/header %>
<%- include ../global/header/subHeader %>

<div class="mainWrapper openFundAccount create">
    <% var statusObj = {step:1, total:3, stepList: [{stepName:'设置密码', stepDate:''}, {stepName:'开通银行附属账户', stepDate:''}, {stepName:'成功', stepDate:''}]} %>
    <%- include ../paypassword/statusBar %>
    <div class="stepWrapper">
        <span class='pointer'><i></i></span>
        <form class="" action="" method="post">
            <h3 class="pageTitle"><span></span>设置支付密码<em>交易付款或者账户信息变更时需要输入，安全级别更高，<i>不可与登录密码相同</i>，设置完成后请注意<i>保存密码</i>。</em></h3>
            <ul class='valid'>
              <li>
                <label>支付密码：</label><input type="password" placeholder='请输入密码' value="">
                <p class='tip-msg'><i class='icon-secure-tip'></i>由字母加数字或符号至少两种以上字符组成的6到20位半角字符，区分大小写</p>
                <p class='tip-error'></p>
              </li>
              <li>
                <label>确认密码：</label><input type="password" name='payPassword' placeholder='请再次输入密码' value="">
                <p class='tip-error'></p>
              </li>
            </ul>
            <h3 class="pageTitle"><span></span>绑定手机号码<em><i>账户变动或支付时</i>系统会给您发送确认验证码，保障资金安全。</em></h3>
            <ul class='valid'>
                <li>
                    <label>手机号码：</label>
                    <input type="text" name="payPhone" value="<%= user.payPhone || user.securephone %>">
                    <p class='tip-error'></p>
                </li>
                <li>
                  <label>校&nbsp;验&nbsp;码&nbsp;：</label>
                  <div class='smsWrapper'>
                      <input type="text" placeholder='请输入验证码' name="sms_code" value="">
                      <span id='send_code' class='send_code btn_gray_small'>获取验证码</span>
                      <span class='icon-sendsms'></span>
                  </div>
                  <p class='tip-msg'></p>
                  <p class='tip-error'></p>
                </li>
            </ul>
            <input id='nextBtn' type="button" value="下一步" class="btn_blue" />
        </form>
    </div>
</div>

<%- include ../../custom_components/ccapimg-modal/ccapimg-modal %>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/wealth/openFundAccount.js"></script>

</body>
</html>
