<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/wealth/openFundAccount.css">
</head>

<body>
<%- include ../global/header/header %>
<%- include ../global/header/subHeader %>

<div class="mainWrapper openFundAccount wait">
    <% var statusObj = {step:2, total:3, stepList: [{stepName:'设置密码', stepDate:''}, {stepName:'开通银行附属账户', stepDate:''}, {stepName:'成功', stepDate:''}]} %>
    <%- include ../paypassword/statusBar %>
    <div class="stepWrapper">
        <span class='pointer'><i></i></span>
        <span class='glyphicon glyphicon-refresh-animate-slow'><em class='icon-big-loading'></em></span>
        <h5>当前申请状态： <span>已提交</span></h5>
        <p>
            中信银行系统正在给您开通附属账户，<span>请耐心等待2分钟……</span>
        </p>
    </div>
</div>


<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<div class="container modalPublic">
    <div class="row clearfix">
        <div class="modal_2 modal fade" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"  class="close close_modal" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title" id="modal_title_2">提示</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="bg_img attention" id="modalImg_2"></div>
                            <div class="modalInfo">
                                <span id="modalInfo_2" >开通账户失败，请稍后重试！</span>
                            </div>
                            <div class="buttons">
                                <a href="/wealth/open-fund-account" class='btn_blue'>确定</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<%= staticPath %>/scripts/wealth/openFundAccount.js"></script>

</body>
</html>
