<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/settlementManagement.css">
</head>

<body>
<%- include ../global/modal/modal  %>
<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="settlementManagement">
    <div class="settlementManagement">
        <div class="wrap clearfix">
            <% include ../account/sideBar  %>
            <div class="content">
                <table>
                    <thead>
                    <tr>
                        <th>交易流水号</th>
                        <th>金额</th>
                        <th>结算时间</th>
                        <th>对方账号名称</th>
                        <th>开票状态</th>
                        <th class="last">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>23456</td>
                        <td>23456</td>
                        <td>dsfsfsdfsdfsdfsfsf</td>
                        <td>23456</td>
                        <td>23456</td>
                        <td>
                            <div class="btn"><input type="button" value="确认已开票"></div>
                            <a href="">查看详情</a>
                        </td>
                    </tr>
                    <tr>
                        <td>23456</td>
                        <td>23456</td>
                        <td>23456</td>
                        <td>23456</td>
                        <td>23456</td>
                        <td>
                            <div class="btn"></div>
                            <a href="">查看详情</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

</body>
</html>