<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/notice.css">
</head>

<body>
<%- include ../global/modal/modal  %>
<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>





<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

</body>
</html>