<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/settlementManagement.css">
</head>

<body>
<%- include ../global/modal/modal  %>
<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="settlementManagement">
    <div class="settlementManagement">
        <div class="wrap clearfix">
            <% include ../account/sideBar  %>
            <div class="content">

            </div>
        </div>
    </div>
</div>



<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

</body>
</html>