<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/transactionRecord.css">
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="transaction-body">
    <div class="transaction-main" >
        <form id="transactionSearch" action="/wealth/financialTransaction">
        <div class="search-div">
            <div class="search-row row-one">
                <span>订单类型:</span>
                <select name="type" id="type">
                    <option value="0">全部</option>
                    <option value="1" <%if(type==1){ %>selected<% } %>>采购</option>
                    <option value="2" <%if(type==2){ %>selected<% } %>>销售</option>
                </select>
                <span>交易时间:</span>
                <div class="time"><input type="text" name="startDate" class="iIpt iIpt_sm startDate" placeholder="yyyy-mm-dd" value="<%=clearEmpty(startDate)%>"/></div>
                <span class="to">至</span>
                <div class="time"><input type="text" name="endDate" class="iIpt iIpt_sm endDate" placeholder="yyyy-mm-dd" value="<%=clearEmpty(endDate)%>"/></div>
                <span>交易状态:</span>
                <select name="status" id="status">
                    <% for(var i in statusList) { %>
                    <option value="<%=i%>" <%if(status==i){ %>selected<% } %>><%=statusList[i]%></option>
                    <% } %>
                </select>
            </div>

            <div class="search-row row-two mt-20">
                <span>交易编号:</span>
                <select name="searchType" id="searchType">
                    <option value="0">全部</option>
                    <option value="1" <%if(searchType==1){ %>selected<% } %>>订单编号</option>
                    <option value="2" <%if(searchType==2){ %>selected<% } %>>合同编号</option>
                    <option value="3" <%if(searchType==3){ %>selected<% } %>>流水号</option>
                    <option value="4" <%if(searchType==4){ %>selected<% } %>>公司名称</option>
                </select>
                <input type="text" name="content" class="iIpt iIpt_sm record-number content" maxlength="50" id="content" value="<%=clearEmpty(content)%>"/>

                <input type="hidden" value="<%= count %>" id="count">
                <input type="hidden" value="<%= page %>" id="page" name="page">
                <input type="hidden" value="<%= pagesize %>" id="pagesize">

                <input type="submit" class="iBtn iBtn_sm iBtn_yes ml-40" value="查询" id="submit">
            </div>
        </div>
        </form>
        <div class="transaction-div" ms-controller="financialTransactionController">
            <table class="transaction-table">
                <thead>
                <tr>
                    <th width="130">创建时间</th>
                    <th width="100">分类</th>
                    <th width="100">名称</th>
                    <th width="160">编号</th>
                    <th width="160">金额</th>
                    <th width="120">状态</th>
                    <th width="120">操作</th>
                </tr>
                </thead>
                <tbody>
                <%for(var i in recordList){%>
                <tr class="line">
                    <td width="130"><%=recordList[i].createTime%></td>
                    <td width="100"><%=recordList[i].typeName%></td>
                    <td width="100" class="coal-target">
                        <div class="title" title="<%=sellInfoTitleAppend(recordList[i].deliveryProvince,recordList[i].deliveryPlace,
                                recordList[i].otherHarbour,recordList[i].otherHarbour,recordList[i].coalType,recordList[i].NCV02)%>">
                            <%=sellInfoTitleAppend(recordList[i].deliveryProvince,recordList[i].deliveryPlace,
                                    recordList[i].otherHarbour,recordList[i].otherHarbour,recordList[i].coalType,recordList[i].NCV02)%></div>
                        <div><span class="label">煤种:</span><%=recordList[i].coalType%></div>
                        <div class="title" title="<%=getStringVal(recordList[i].brandName)%>"><span class="label">品名:</span><%=getStringVal(recordList[i].brandName)%></div>
                        <div><span class="label">热值:</span><%= multiArgAppend(recordList[i].NCV,recordList[i].NCV02,"kcal/kg") %></div>
                    </td>
                    <td width="160" class="order-number">
                        <div><span class="label">订单号:</span><%=recordList[i].orderNO%></div>
                        <div><span class="label">合同号:</span><%=getStringVal(recordList[i].contractNO)%></div>
                        <div><span class="label">付款流水号:</span><%=getStringVal(recordList[i].paymentTransaction)%></div>
                        <%if(recordList[i].tailMoneyTransaction!=null){%>
                        <div><span class="label">补款流水号:</span><%=getStringVal(recordList[i].tailMoneyTransaction)%></div>
                        <%}else{%>
                        <div><span class="label">退款流水号:</span><%=getStringVal(recordList[i].refundMoneyTransaction)%></div>
                        <%}%>
                    </td>
                    <td width="160"><%=formatMoney(recordList[i].totalMoney)%></td>
                    <td width="120"><%=recordList[i].statusName%></td>
                    <td width="120">
                        <!--<input type="button" class="iBtn iBtn_xs iBtn_no btn-option" value="付款付款"/>-->
                        <!--<a>查看详情</a>-->
                        <%if(recordList[i].type==0){%>
                            <% if(recordList[i].status=='WaitSignContract'){ %>
                        <input type="button" class="iBtn iBtn_xs iBtn_no btn-signContract" value="签订合同">
                        <a class="ml-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">关闭交易</a>
                            <% }else if(recordList[i].status=='WaitPayment'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-payMoney" value="签订合同"/>
                            <% }else if(recordList[i].status=='WaitConfirmDelivery'){ %>
                            <!--<input type="button" class="iBtn iBtn_xs iBtn_no btn-deliveryGoods" value="确认提货"/>-->
                            <% }else if(recordList[i].status=='ReturnedDeliveryGoods'){ %>
                            <!--<input type="button" class="iBtn iBtn_xs iBtn_no btn-deliveryGoods" value="重新确认提货"/>-->
                            <% }else if(recordList[i].status=='WaitVerifyDeliveryGoods'){ %>
                            <!--<a class="btn-deliveryGoods">查看提货详情</a>-->
                            <% }else if(recordList[i].status=='WaitSettleAccounts'){ %>

                            <% }else if(recordList[i].status=='WaitVerifySettle'){ %>

                            <% }else if(recordList[i].status=='ReturnedSettleAccounts'){ %>

                            <% }else if(recordList[i].status=='WaitPayRefundMoney'){ %>

                            <% }else if(recordList[i].status=='WaitPayTailMoney'){ %>

                            <% }else if(recordList[i].status=='WaitWriteReceipt'){ %>

                            <% }else if(recordList[i].status=='WaitReceiveReceipt'){ %>

                            <% }else if(recordList[i].status=='WaitImproveReceipt'){ %>

                            <% }else if(recordList[i].status=='TradeDisputing'){ %>
                            <% }else if(recordList[i].status=='TradeDisputeFinished'){ %>
                            <% }else if(recordList[i].status=='MakeMatch'){ %>

                            <% }else if(recordList[i].status=='Canceled'){ %>

                            <% }else if(recordList[i].status=='Completed'){ %>

                            <% }else if(recordList[i].status=='TradeFinished'){ %>

                            <% }else if(recordList[i].status=='TradeClosed'){ %>

                            <% }else{ %>
                                <%=recordList[i].status%>
                            <% } %>
                        <%}else if(recordList[i].type==1){%>
                            <% if(recordList[i].status=='WaitSignContract'){ %>
                            <span class="status">货物已下单，请及时签订电子合同</span>
                            <% }else if(recordList[i].status=='WaitPayment'){ %>
                            <span class="status">已签订电子合同，请及时支付货款</span>
                            <% }else if(recordList[i].status=='WaitConfirmDelivery'){ %>
                            <span class="status">已付款，待卖家确认提货</span>
                            <span class="status-hint">(您可以及时联系卖家<span class="orange">沟通提货时间</span>)</span>
                            <% }else if(recordList[i].status=='ReturnedDeliveryGoods'){ %>
                            <span class="status-return">提货被卖家退回，待确认提货</span>
                            <% }else if(recordList[i].status=='WaitVerifyDeliveryGoods'){ %>
                            <span class="status">提货已确认，等待卖家审核</span>
                            <% }else if(recordList[i].status=='WaitSettleAccounts'){ %>
                            <span class="status">已确认提货，待开具结算单</span>
                            <% }else if(recordList[i].status=='WaitVerifySettle'){ %>
                            <span class="status">已开具结算单，等待买家确认</span>
                            <% }else if(recordList[i].status=='ReturnedSettleAccounts'){ %>
                            <span class="status">结算单被退回，等待卖家修改</span>
                            <% }else if(recordList[i].status=='WaitPayRefundMoney'){ %>
                            <span class="status">结算已完成，等待卖家退款</span>
                            <% }else if(recordList[i].status=='WaitPayTailMoney'){ %>
                            <span class="status">结算单已确认，等待买家补款</span>
                            <% }else if(recordList[i].status=='WaitWriteReceipt'){ %>
                            <span class="status">结算完成，等待卖家开具增值税发票</span>
                            <% }else if(recordList[i].status=='WaitReceiveReceipt'){ %>
                            <span class="status">卖家已开增值税发票，等待收发票</span>
                            <% }else if(recordList[i].status=='WaitImproveReceipt'){ %>
                            <span class="status">结算单已确认，等待完善开票信息</span>
                            <% }else if(recordList[i].status=='TradeDisputing'){ %>
                            <% }else if(recordList[i].status=='TradeDisputeFinished'){ %>
                            <% }else if(recordList[i].status=='MakeMatch'){ %>
                            <span class="status">匹配中</span>
                            <% }else if(recordList[i].status=='Canceled'){ %>
                            <span class="status">已取消</span>
                            <% }else if(recordList[i].status=='Completed'){ %>
                            <span class="status">交易完成</span>
                            <% }else if(recordList[i].status=='TradeFinished'){ %>
                            <span class="status-close">交易结束</span>
                            <% }else if(recordList[i].status=='TradeClosed'){ %>
                            <span class="status-close">交易关闭</span>
                            <% }else{ %>
                            <%=recordList[i].status%>
                            <% } %>
                        <% } %>
                    </td>
                </tr>
                <%}%>
                </tbody>
            </table>

            <xmp ms-widget="[{is:'ms-pagination'}, @configPagination]"></xmp>

        </div>
    </div>
</div>

<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/wealth/transactionRecord.js"></script>

</body>
</html>