<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/static/styles/financialHome.css">
</head>

<body>

<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="transaction-body">
    <div class="transaction-main">
        <div class="transaction-div">

        </div>
        <table class="transaction-table">

        </table>
    </div>
</div>

<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>

</body>
</html>