<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/transactionRecord.css">
</head>

<body>


<%- include ../global/header/header %>
<%- include ../global/header/financialSecondHeader %>
<%- include ../global/modal/modal %>

<div class="transaction-body">
    <div class="transaction-main" >
        <form id="searchForm" action="/wealth/financialTransaction">
        <div class="search-div">
            <div class="search-row row-one">
                <span>类型:</span>
                <select name="type" id="type">
                    <option value="0">全部</option>
                    <option value="1" <%if(type===1){ %>selected<% } %>>采购</option>
                    <option value="2" <%if(type===2){ %>selected<% } %>>销售</option>
                </select>
                <span>创建时间:</span>
                <div class="time"><input type="text" name="startDate" class="iIpt iIpt_sm startDate" placeholder="yyyy-mm-dd" value="<%=clearEmpty(startDate)%>"/></div>
                <span class="to">至</span>
                <div class="time"><input type="text" name="endDate" class="iIpt iIpt_sm endDate" placeholder="yyyy-mm-dd" value="<%=clearEmpty(endDate)%>"/></div>
                <span>状态:</span>
                <select name="status" id="status">
                    <option value="#">全部</option>
                    <% for(var i in statusList) { %>
                    <option value="<%=i%>" <%if(status===i){ %>selected<% } %>><%=statusList[i]%></option>
                    <% } %>
                </select>
            </div>

            <div class="search-row row-two mt-20">
                <!--<span>编号:</span>-->
                <select name="searchType" id="searchType">
                    <option value="0">全部</option>
                    <option value="1" <%if(searchType===1){ %>selected<% } %>>订单编号</option>
                    <option value="2" <%if(searchType===2){ %>selected<% } %>>合同编号</option>
                    <option value="3" <%if(searchType===3){ %>selected<% } %>>流水号</option>
                </select>
                <input type="text" name="content" class="iIpt iIpt_sm record-number content" maxlength="50" id="content" value="<%=clearEmpty(content)%>"/>

                <input type="hidden" value="<%= count %>" id="count">
                <input type="hidden" value="<%= page %>" id="page" name="page">
                <input type="hidden" value="<%= pagesize %>" id="pagesize">

                <input type="submit" class="iBtn iBtn_sm iBtn_yes ml-40" value="查询" id="submitSearch">
            </div>
        </div>
        </form>
        <div class="transaction-div" ms-controller="financialPaginationController">
            <table class="transaction-table">
                <thead>
                <tr>
                    <th width="80">创建时间</th>
                    <th width="60">分类</th>
                    <th width="160">名称</th>
                    <th width="180">编号/流水号</th>
                    <th width="160">订单金额</th>
                    <th width="120">状态</th>
                    <th width="120">操作</th>
                </tr>
                </thead>
                <tbody>
                <%if(typeof recordList && recordList.length>0){%>
                    <%for(var i in recordList){%>
                    <tr class="line">
                        <td width="80"><%=recordList[i].createTime%></td>
                        <td width="60"><%=recordList[i].typeName%></td>
                        <td width="160" class="coal-target">
                            <div class="title" title="<%=sellInfoTitleAppend(recordList[i].deliveryProvince,recordList[i].deliveryPlace,
                                    recordList[i].otherHarbour,recordList[i].originPlace,recordList[i].coalType,recordList[i].ncv02)%>">
                                <%=sellInfoTitleAppend(recordList[i].deliveryProvince,recordList[i].deliveryPlace,
                                        recordList[i].otherHarbour,recordList[i].originPlace,recordList[i].coalType,recordList[i].ncv02)%></div>
                            <div><span class="label">煤种:</span><%=recordList[i].coalType%></div>
                            <div class="title" title="<%=getStringVal(recordList[i].brandName)%>"><span class="label">品名:</span><%=getStringVal(recordList[i].brandName)%></div>
                            <div><span class="label">热值:</span><%= multiArgAppend(recordList[i].ncv,recordList[i].ncv02,"kcal/kg") %></div>
                        </td>
                        <td width="180" class="order-number">
                            <div><span class="label">订单编号:</span><a class="<%if(recordList[i].type===0){%>btn-buyOrderDetail<%}else{%>btn-sellOrderDetail<%}%>" data-id="<%=recordList[i].id%>" data-status="<%=recordList[i].status%>"><%=recordList[i].orderNO%></a></div>
                            <div><span class="label">合同编号:</span><a target="_blank" href="/compactDetail?orderId=<%=recordList[i].id%>"><%=getStringVal(recordList[i].contractNO)%></a></div>
                            <div><span class="label">付款流水号:</span><%=getStringVal(recordList[i].paymentTransaction)%></div>
                            <%if(recordList[i].tailMoneyTransaction!=null){%>
                            <div><span class="label">补款流水号:</span><%=getStringVal(recordList[i].tailMoneyTransaction)%></div>
                            <%}else{%>
                            <div><span class="label">退款流水号:</span><%=getStringVal(recordList[i].refundMoneyTransaction)%></div>
                            <%}%>
                        </td>
                        <td width="160"><%=formatMoney(recordList[i].totalMoney)%></td>
                        <td width="80">
                            <% if(recordList[i].status === 'WaitSignContract'){ %>
                            <span class="status-green WaitSignContract"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitPayment'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitConfirmDelivery'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'ReturnedDeliveryGoods'){ %>
                            <span class="status-red"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitVerifyDeliveryGoods'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitSettleAccounts'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitVerifySettle'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'ReturnedSettleAccounts'){ %>
                            <span class="status-red"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitPayRefundMoney'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitPayTailMoney'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitWriteReceipt'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitReceiveReceipt'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'WaitImproveReceipt'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'TradeDisputing'){ %>
                            <span class="status-green"><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'TradeDisputeFinished'){ %>
                            <span ><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'MakeMatch'){ %>
                            <span ><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'Deleted'){ %>
                            <span ><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'Canceled'){ %>
                            <span ><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'Completed'){ %>
                            <span ><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'TradeFinished'){ %>
                            <span ><%=recordList[i].statusName%></span>
                            <% }else if(recordList[i].status === 'TradeClosed'){ %>
                            <span ><%=recordList[i].statusName%></span>
                            <% }else{ %>
                            <span ><%=recordList[i].statusName%></span>
                            <%}%>
                        </td>
                        <td class="operation" width="80">
                            <%if(recordList[i].type===0){%>
                            <% if(recordList[i].status==='WaitSignContract'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-signContract" value="签订合同" data-id="<%= recordList[i].id %>">
                            <a class="mt-10 btn-closeTrade" data-id="<%= recordList[i].id %>">关闭交易</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayment'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-payMoney" value="付款" data-id="<%= recordList[i].id %>">
                            <a class="mt-10 btn-closeTrade" data-id="<%= recordList[i].id %>">关闭交易</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitConfirmDelivery'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-deliveryGoods" value="确认提货" data-id="<%= recordList[i].id %>">
                            <a class="mt-10 btn-applyDispute" data-id="<%= recordList[i].id %>">申请纠纷处理</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='ReturnedDeliveryGoods'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-deliveryGoods" value="重新确认提货" data-id="<%= recordList[i].id %>">
                            <a class="mt-10 btn-applyDispute" data-id="<%= recordList[i].id %>">申请纠纷处理</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitVerifyDeliveryGoods'){ %>
                            <a class="btn-deliveryDetail" data-id="<%= recordList[i].id %>">查看提货详情</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitSettleAccounts'){ %>
                            <a class="notice-sellerSettle" data-id="<%= recordList[i].id %>">提醒卖家开结算单</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitVerifySettle'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-confirmSettle" value="确认结算" data-id="<%= recordList[i].id %>">
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='ReturnedSettleAccounts'){ %>
                            <a class="notice-sellerSettle" data-id="<%= recordList[i].id %>">提醒卖家开结算单</a>
                            <a class="mt-10 btn-buyerLookSettle" data-id="<%= recordList[i].id %>">查看结算单</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayRefundMoney'){ %>
                            <a class="notice-sellerRetrunMoney" data-id="<%= recordList[i].id %>">提醒卖家退款</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayTailMoney'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-tailMoney" value="支付尾款" data-id="<%= recordList[i].id %>">
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitWriteReceipt'){ %>
                            <a class="notice-sellerWriteReceipt" data-id="<%= recordList[i].id %>">提醒卖家开发票</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitReceiveReceipt'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-receiveReceipt" value="确认收到发票" data-id="<%= recordList[i].id %>">
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitImproveReceipt'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-improveReceipt" value="完善开票信息" data-id="<%= recordList[i].id %>">
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeDisputing'){ %>

                            <a target="_blank" href="/dispute/disputeDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeDisputeFinished'){ %>
                            <a target="_blank" href="/dispute/disputeComplete?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='MakeMatch'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Canceled'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Deleted'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Completed'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeFinished'){ %>
                            <a target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeClosed'){ %>
                            <a class="btn-delete" data-id="<%= recordList[i].id %>">删除</a>
                            <a class="mt-10" target="_blank" href="/getBuyOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else{ %>
                            <a><%=recordList[i].status%></a>
                            <% } %>
                            <% }else{ %>
                            <% if(recordList[i].status==='WaitSignContract'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayment'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitConfirmDelivery'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='ReturnedDeliveryGoods'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitVerifyDeliveryGoods'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitSettleAccounts'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-settleAccounts" value="开具结算单">
                            <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitVerifySettle'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='ReturnedSettleAccounts'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayRefundMoney'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-retrunMoney" value="退款">
                            <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitPayTailMoney'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitWriteReceipt'){ %>
                            <input type="button" class="iBtn iBtn_xs iBtn_no btn-writeReceipt" value="确认已开发票">
                            <a class="mt-10" target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitReceiveReceipt'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='WaitImproveReceipt'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeDisputing'){ %>
                            <a target="_blank" href="/dispute/disputeSellerDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeDisputeFinished'){ %>
                            <a target="_blank" href="/dispute/disputeComplete?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='MakeMatch'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Canceled'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Deleted'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='Completed'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeFinished'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else if(recordList[i].status==='TradeClosed'){ %>
                            <a target="_blank" href="/getSellOrderDetail?orderId=<%= recordList[i].id %>">查看详情</a>
                            <% }else{ %>
                            <a><%=recordList[i].status%></a>
                            <% } %>
                            <% } %>
                        </td>
                    </tr>
                    <%}%>
                <%}else{%>
                <tr>
                    <td colspan="7" class="no-data">暂无符合条件的交易数据</td>
                </tr>
                <%}%>
                </tbody>
            </table>

            <xmp ms-widget="[{is:'ms-pagination'}, @configPagination]"></xmp>

        </div>
    </div>
</div>

<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/wealth/transactionRecord.js"></script>

</body>
</html>