<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/static/styles/disputeComplete.css">
</head>

<body>

<%- include ../global/header/header %>

<%- include ../global/header/subHeader %>

<div id="disputeComplete">
    <div class="disputeCompleteWrap">
        <div class="disputeCompleteTit"><span>纠纷处理申请</span></div>
        <div class="disputeStatus"></div>
        <div class="disputeInfoWrap">
            <div class="disputeInfoTit">纠纷处理申请已提交，<b>等待双方协商处理！</b></div>
            <p>注意事项：</p>
            <p>1、纠纷处理提交后，请及时与卖家联系，解决纠纷问题</p>
            <p>2、纠纷处理完成之后，货款会退至您易煤网的账户中，请及时查收退款情况。</p>
            <p><a href="/dispute/disputeDetail?orderId=1&userId=2">查看纠纷处理详情&gt;&gt;</a></p>
        </div>
        <div class="disputeProgressWrap">
            <div class="disputeProgressTit"><span>了解纠纷处理流程</span></div>
            <div class="disputeProgressInfo"></div>
        </div>
    </div>
</div>


<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<!--<script src="/static/scripts/compact/index.js"></script>-->

</body>
</html>

