
<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/accountSetting.css">
</head>


<body>
<%- include ../global/modal/modal  %>

<%- include ../global/header/header %>
<%- include ../global/header/financialSecondHeader %>
<div id="accountSetting">
    <div class="accountSetting">
        <div class="wrap clearfix">
            <% include sideBar  %>
            <div class="content">
                <table>
                    <tr>
                        <th>姓名：</th>
                        <td colspan="2"><%= user.companyName %></td>
                    </tr>
                    <tr>
                        <th>职务：</th>
                        <td colspan="2">员工</td>
                    </tr>
                    <tr>
                        <th>手机号码：</th>
                        <td colspan="2"><%= phoneFormat(user.securephone) %></td>
                    </tr>
                    <tr>
                        <th>注册时间：</th>
                        <td colspan="2"><%= registerTime %></td>
                    </tr>
                    <tr>
                        <th>资金账户：</th>
                        <% if(fundStatus == 2){%>
                            <td>已开通</td>
                            <td><a href="/wealth/addAccount" class="iBtn iBtn_xs iBtn_no">查看</a></td>
                        <% }else if(fundStatus == 4){%>
                            <td>已锁定</td>
                            <td><a href="/ucenter/paypassword/fg/vl" class="iBtn iBtn_xs iBtn_no">去解锁</a></td>
                        <%}%>

                    </tr>
                    <tr class="noBorder">
                        <th>银行账户：</th>
                        <% if(cashStatus == 0){%>
                            <td>尚未绑定出金账户</td>
                            <td><a href="/wealth/bindingBankAccount?userId=<%= user.id %>" class="iBtn iBtn_xs iBtn_no">绑定</a></td>
                        <%}else if(cashStatus == 1){%>
                            <td>银行账户等待确认汇款金额</td>
                            <td><a href="/wealth/bindingSuccess?userId=<%= user.id %>" class="iBtn iBtn_xs iBtn_no">认证</a></td>
                        <%}else if(cashStatus == 2){%>
                            <td>已绑定1张出金账户</td>
                            <td><a href="/wealth/addAccount?userId=<%= user.id %>" class="iBtn iBtn_xs iBtn_no">查看</a></td>
                        <%}%>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>



<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/header.js"></script>
</body>
</html>