<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/notice.css">
</head>

<body>
    <%- include ../global/modal/modal  %>
    <%- include ../global/header/financialFirstHeader %>
    <%- include ../global/header/financialSecondHeader %>


    <div id="notice">
        <div class="notice">
            <div class="wrap clearfix">
                <% include sideBar  %>
                <div class="content">
                    <table>
                        <% for(var i=0;i<noticeInfo.length;i++){%>
                            <tr>
                                <td class="noticeAccount">
                                    <h2><%= noticeInfo[i].operation %></h2>
                                    <p>附属账户: <span>尾号<%= noticeInfo[i].account %></span></p>
                                    <p>金额: <span><%= formatMoney(noticeInfo[i].money,2) %>元</span></p>
                                </td>
                                <td>
                                    <% var statusObj = statusArr[i]%>
                                    <% include ../global/order/statusBar %>
                                </td>
                            </tr>
                        <%}%>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <%- include ../global/footer/footer %>

    <%- include ../global/includehead/bottomscript %>

</body>
</html>