<!--账户设置侧边栏-->
<div class="sideBar">
    <ul>
        <% accountSideBar.sideBarList.forEach(function(obj, ind){ %>
        <li class="<% if(ind+1 == accountSideBar.current){%>current<%} %>">
            <a class="navBar" href="<%= obj.listLink %>"><%= obj.listName %></a>
            <% if(obj.secListName != ''){ %>
            <dl>
                <dd class="<% if(ind+1 == accountSideBar.secCurrent){%>current<%} %>" ><a href=""><%= obj.secListName.waitSettle %>&nbsp;<%= waitSettleNum %></a></dd>
                <dd><a href=""><%= obj.secListName.hadSettle %>&nbsp;<%= hadSettleNum %></a></dd>
            </dl>
            <%}else{%>

            <%}%>
        </li>
        <% }) %>
    </ul>
</div>
