<!--账户设置侧边栏-->
<div class="sideBar">
    <ul>
        <% accountSideBar.sideBarList.forEach(function(obj, ind){ %>
        <li class="<% if(ind+1 == accountSideBar.current){%>current<%} %>">
            <a class="navBar" href="<%= obj.listLink %>"><%= obj.listName %><em class="triangle ico_triangle_<% if(obj.secList != ''){ %>down<%}else{%>right<%}%>"></em></a>

            <% if(obj.secList != ''){ %>
            <dl>
                <% obj.secList.forEach(function(objj, indd){ %>
                    <dd class="dd_<%= indd %>"><a href="<%= objj.secListLink %>"><%= objj.secListName %>&nbsp;<%= objj.secListNum %></a></dd>
                <% }) %>
            </dl>
            <%}else{%>

            <%}%>
        </li>
        <% }) %>
    </ul>
</div>
<input type="hidden" value="<%= receiptOrder.type %>" id="type">