<% layout('../global/globalTemp/globalTemp') -%>
<% stylesheet("/static/styles/returnDetail.css") -%>
<% script("/static/scripts/confirmDelivery/sellerDelivery.js") -%>
<% include ../global/header/subHeader %>
<div id="returnDetail">
    <div class="sellerDeliveryWrap">
    	<p class="containerTit"><span>买家提货数据</span></p>
    	<div class="infoContainer">
    		<div class="deliveryAmount">
    			提货数量：<b><%= deliveryAmount%></b> 吨
    		</div>
    		<div class="tableContainer">
    			<div class="tableTit">请审核检测结果</div>

                    <% var totalCount=0;for(var i in indexList[0]){ totalCount++;%><%}%>
                    <% var tableIndex=indexList.length %>
                    <%for(var j=0;j<tableIndex;j++){%>
                        <%if(totalCount<=9){%>
                        <div class="tableWrap">
                            <table class="checkList">
                                <tr class="thead">
                                    <% var tdCount=0;for(var i in indexList[j]){ tdCount++;%>
                                    <%if(tdCount==1){%>
                                    <td width="55"><%= i %></td>
                                    <%}else if(tdCount==2){%>
                                    <td width="105"><i class="calIcon"></i><%= i %></td>
                                    <%}else{%>
                                    <td width="105"><%= i %></td>
                                    <%}%>
                                    <%}%>
                                    <%for(var i=0;i<9-tdCount;i++){%>
                                    <td width="105"></td>
                                    <%}%>
                                </tr>
                                <tr>
                                    <%for(var i in indexList[j]){%>
                                    <td><%= indexList[j][i]%></td>
                                    <%}%>
                                    <%for(var i=0;i<9-tdCount;i++){%>
                                    <td width="105"></td>
                                    <%}%>
                                </tr>
                            </table>
                        </div>
                        <%}else{%>
                        <div class="tableWrap">
                            <table class="checkList">
                                <tr class="thead">
                                    <% var tdCount=0;for(var i in indexList[j]){ tdCount++;%>
                                    <%if(tdCount<=9){%>
                                    <%if(tdCount==1){%>
                                    <td width="55"><%= i %></td>
                                    <%}else if(tdCount==2){%>
                                    <td width="105"><i class="calIcon"></i><%= i %></td>
                                    <%}else{%>
                                    <td width="105"><%= i %></td>
                                    <%}%>
                                    <%}%>
                                    <%}%>
                                </tr>
                                <tr>
                                    <% var tdCount=0;for(var i in indexList[j]){ tdCount++;%>
                                        <%if(tdCount<=9){%>
                                            <%if(tdCount==1){%>
                                                <td rowspan="3"><%= indexList[j][i]%></td>
                                            <%}else{%>
                                                <td><%= indexList[j][i]%></td>
                                            <%}%>
                                        <%}%>
                                    <%}%>
                                </tr>
                                <tr class="thead">
                                    <% var tdCount=0;for(var i in indexList[j]){ tdCount++;%>
                                    <%if(tdCount>9){%>
                                    <td><%= i %></td>
                                    <%}%>
                                    <%}%>
                                    <%for(var i=0;i<17-tdCount;i++){%>
                                    <td></td>
                                    <%}%>
                                </tr>
                                <tr>
                                    <% var tdCount=0;for(var i in indexList[j]){ tdCount++;%>
                                    <%if(tdCount>9){%>
                                    <td><%= indexList[j][i] %></td>
                                    <%}%>
                                    <%}%>
                                    <%for(var i=0;i<17-tdCount;i++){%>
                                    <td></td>
                                    <%}%>
                                </tr>
                            </table>
                        </div>
                        <%}%>
                    <%}%>

    		</div>
    		<div class="downWrap">
                <div class="leftBan"><span>*</span>质量确认单</div>
                <div class="rightBan">
                    <a href="<%= qualityZip %>" class="uploadFile"><i class="uploadIcon"></i>下载附件</a>
                    <p>共<span>10</span>个文件，请下载查看。</p>
                </div>
    		</div>
            <div class="downWrap">
                <div class="leftBan"><span>*</span>数量确认单</div>
                <div class="rightBan">
                    <a href="api/quantityList" class="uploadFile"><i class="uploadIcon"></i>下载附件</a>
                	<p>共<span>10</span>个文件，请下载查看。</p>
                </div>
            </div>

    	</div>

        <% include ../global/order/orderUserInfo %>
        <% include ../global/order/orderTable %>

        <a href="javascript:void(0)" class="dlDetail"><i class="printer"></i>打印订单详情</a>
    </div>

</div>
