<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/paypassword.css">
</head>

<body>
<%- include ../global/header/header %>
<%- include ../global/header/subHeader %>

<div class="mainWrapper forgetValid">
    <% var statusObj = {step:1, total:3, stepList: [{stepName:'验证身份', stepDate:''}, {stepName:'重置支付密码', stepDate:''}, {stepName:'重置成功', stepDate:''}]} %>
    <%- include ./statusBar %>
    <form method="post" id='forgetValid'>
      <ul class='valid'>
        <%- include ../../custom_components/ccapimg-modal/form-part %>
        <li>
          <label>注册号（社会统一代码证号）：</label><input type="text" name="cardID" placeholder='请输入填写营业执照号码' value="">
          <p class='tip-msg'>填写您注册易煤网时填写的公司营业执照号码</p>
          <p class='tip-error'></p>
        </li>
      </ul>
      <p>
          <input id='validBtn' class='btn_blue validBtn' type="button" value="下一步" />
      </p>
    </form>
    <%- include ./tip %>
</div>
<%- include ../../custom_components/ccapimg-modal/ccapimg-modal %>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="/dist/scripts/paypassword/forget.js"></script>

</body>
</html>
