<table id="order-table">
    <tr>
        <th width="406"><div class="title-col">货品</div></th>
        <th width="160"><div class="title-col">单价(元)</div></th>
        <th width="160"><div class="title-col">数量(万吨)</div></th>
        <th width="213"><div class="title-col">总金额(万元)</div></th>
    </tr>
    <tr>
        <td colspan="4">
            <table class="detail-info-table">
                <tr>
                    <td width="406" class="no-border">
                        <div class="info-title">
                            <span class="supply-ico">商</span>
                            <span class="supply-title"><%= ellipse(sellInfoTitleAppend(sellInfo.deliveryprovince,sellInfo.deliveryplace,sellInfo.otherharbour,
                            sellInfo.originplace,sellInfo.pname,sellInfo.NCV02),36) %></span>
                        </div>
                        <ul>
                            <li><span class="hint">煤种：</span><span><%= sellInfo.pname %></span></li>
                            <% if(sellInfo.brandname!=null){ %>
                            <li><span class="hint">品名：</span><span><%= sellInfo.brandname %></span></li>
                            <% } %>

                            <li><span class="hint">产地：</span><span><%= sellInfo.originplace %></span></li>
                            <% if(sellInfo.NCV!=0&&sellInfo.NCV02!=0){ %>
                            <li><span class="hint">热值：</span><span><%= multiArgAppend(sellInfo.NCV,sellInfo.NCV02,'kcal/kg') %></span></li>
                            <% } %>

                            <li><span class="hint">收到基硫分：</span><span><%= multiArgAppend(formatDecimal(sellInfo.RS, 2),formatDecimal(sellInfo.RS02, 2),'%') %></span></li>
                            <% if(sellInfo.RV!=0&&sellInfo.RV02!=0){ %>
                            <li><span class="hint">收到基挥发分：</span><span><%= multiArgAppend(formatDecimal(sellInfo.RV, 2),formatDecimal(sellInfo.RV02, 2),'%') %></span></li>
                            <% } %>

                            <li><span class="hint">全水分：</span><span><%= multiArgAppend(formatDecimal(sellInfo.TM,2),formatDecimal(sellInfo.TM02, 2),'%') %></span></li>
                            <% if(sellInfo.ASH!=0&&sellInfo.ASH02!=0){ %>
                            <li><span class="hint">灰分：</span><span><%= multiArgAppend(formatDecimal(sellInfo.ASH, 1),formatDecimal(sellInfo.ASH02, 1),'%') %></span></li>
                            <% } %>

                            <% if(sellInfo.ADS!=0&&sellInfo.ADS02!=0){ %>
                            <li><span class="hint">空干基硫分：</span><span><%= multiArgAppend(formatDecimal(sellInfo.ADS, 2),formatDecimal(sellInfo.ADS02, 2),'%') %></span></li>
                            <% } %>

                            <li><span class="hint">空干基挥发分：</span><span><%= multiArgAppend(formatDecimal(sellInfo.ADV, 2),formatDecimal(sellInfo.ADV02, 2),'%') %></span></li>

                            <% if(sellInfo.FC!=0&&sellInfo.FC02!=0){ %>
                            <li><span class="hint">固定碳：</span><span><%= multiArgAppend(sellInfo.FC,sellInfo.FC02,'%') %></span></li>
                            <% } %>

                            <% if(sellInfo.IM!=0&&sellInfo.IM02!=0){ %>
                            <li><span class="hint">内水分：</span><span><%= multiArgAppend(formatDecimal(sellInfo.IM, 2),formatDecimal(sellInfo.IM02, 2),'%') %></span></li>
                            <% } %>

                            <% if(sellInfo.GV!=0&&sellInfo.GV02!=0){ %>
                            <li><span class="hint">G值：</span><span><%= multiArgAppend(sellInfo.GV,sellInfo.GV02,'') %></span></li>
                            <% } %>

                            <% if(sellInfo.YV!=0&&sellInfo.YV02!=0){ %>
                            <li><span class="hint">Y值：</span><span><%= multiArgAppend(sellInfo.YV,sellInfo.YV02,'mm') %></span></li>
                            <% } %>

                            <% if(sellInfo.AFT!=0){ %>
                            <li><span class="hint">灰熔点≥：</span><span><%= singleArgAppend(sellInfo.AFT,'℃') %></span></li>
                            <% } %>

                            <% if(sellInfo.HGI!=0){ %>
                            <li><span class="hint">哈氏可磨≥：</span><span><%= singleArgAppend(sellInfo.HGI,'') %></span></li>
                            <% } %>

                            <% if(sellInfo.CRC!=0&&sellInfo.CRC02!=0){ %>
                            <li><span class="hint">焦渣特征：</span><span><%= multiArgAppend(sellInfo.CRC,sellInfo.CRC02,'%') %></span></li>
                            <% } %>
                        </ul>
                    </td>
                    <td width="160">
                        <div class="number"><%= formatDecimal(order.price,2) %></div>
                    </td>
                    <td width="160">
                        <div class="number"><%= order.amount %></div>
                    </td>
                    <td width="213">
                        <div class="number"><%= formatMoney(order.totalMoney,2) %></div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<!-- 总金额 -->
<div class="total-money">
    <div class="money-number">总金额：<span><%= formatMoney(order.totalMoney,2) %></span></div>
    <div class="money-zh">(人民币：<%= switchTxt(order.totalMoney) %>)</div>
</div>