<!-- 订单状态条 -->
<div class="statusBar">
    <% var i = 0, total = statusObj.total || 5 %>
    <% statusObj.step = (statusObj.step == total) ? 5 : statusObj.step %>
    <ul class="statusMain status_<%= statusObj.step %>">
        <% for(i; i < total; i++){ %>
            <% var obj = statusObj.stepList[i], s = 0 %>
            <% if(i == total - 1) {%>
            <li class="statusStep step_<%= 5 %>">
            <% } else { %>
             <li class="statusStep step_<%= i+1 %>">
            <% } %>
                <span class="statusHr"></span>
                <span class="statusDot"><%= i+1 %></span>
                <span class="stepName"><%= obj.stepName %></span>
                <span class="stepDate"><%= obj.stepDate %></span>
            </li>
        <% }%>
    </ul>
</div>