<!-- 订单状态条 -->
<div class="statusBar">
    <ul class="statusMain status_<%= statusObj.step %>">
        <% statusObj.stepList.forEach(function(obj, ind){ %>
            <li class="statusStep step_<%= ind+1 %>">
                <span class="statusHr"></span>
                <span class="statusDot"><%= ind+1 %></span>
                <span class="stepName"><%= obj.stepName %></span>
                <span class="stepDate"><%= obj.stepDate %></span>
            </li>
        <% }) %>
    </ul>
</div>