<!-- 订单状态条 -->
<div class="statusBar">
    <% var i = 0, total = statusObj.total || 5 %>
    <% statusObj.step = (statusObj.step == total) ? 5 : statusObj.step %>
    <ul class="statusMain status_<%= statusObj.step %>">
        <% var step = 1 %>
        <% for(i; i < total; i++){ %>
            <% var obj = statusObj.stepList[i], s = 0 %>
            <% step = (i == total - 1) ? 5 : i+1 %>
            <% if(total > 4) {%>
            <li class="statusStep step_<%= step %>">
            <% } else { %>
             <li class="statusMax step_<%= step %>">
            <% } %>
                <span class="statusHr"></span>
                <span class="statusDot"><%= i+1 %></span>
                <span class="stepName"><%= obj.stepName %></span>
                <span class="stepDate"><%= obj.stepDate ? obj.stepDate : '' %></span>
            </li>
        <% }%>
    </ul>
</div>
