<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/confirmTheInvoice.css">
</head>
<body>
<%- include ../global/header/header %>
<%- include ../global/header/subHeader %>


<!-- 以下.内容部分 -->
<div class="containerWrap">
    <div class="bodyWrap">

        <!-- 添加开票信息 板块 -->
        <div id="viewInvoicePlate" class="plateBox">
            <div class="plateHead borSolid">
                <span class="prefix"></span>
                <h3 class="headLeft fl">确认开票信息</h3>
            </div>
            <div class="plateMain clearfix">
                <div class="fl" id="viewInvoiceInfo">
                    <table class="table tab_nBor">
                        <tbody>
                        <tr>
                            <th class="txt_r" width="130">公司名称：</th>
                            <td width="340">
                                <span class="a">和略电子商务有限公司</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="txt_r">公司地址：</th>
                            <td><span class="a">公司地址</span></td>
                        </tr>
                        <tr>
                            <th class="txt_r">公司电话：</th>
                            <td><span class="a">公司电话</span></td>
                        </tr>
                        <tr>
                            <th class="txt_r">公司传真：</th>
                            <td><span class="a">公司传真</span></td>
                        </tr>
                        <tr>
                            <th class="txt_r">纳税人识别号：</th>
                            <td><span class="a">纳税人识别号</span></td>
                        </tr>
                        <tr>
                            <th class="txt_r">开户银行：</th>
                            <td><span class="a">开户银行</span></td>
                        </tr>
                        <tr>
                            <th class="txt_r">开户银行账号：</th>
                            <td><span class="a">开户银行账号</span></td>
                        </tr>
                        <tr>
                            <th class="txt_r">发票类型：</th>
                            <td><span class="a">发票类型</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="fr" id="viewInvoiceThumbnail">
                    <h2 class="invoiceImgTit">开票信息表： </h2>

                    <div class="thumbnailBox">
                        <div class="thumbnailPic">
                            <img class="" src="/dist/images/compact/invoiceTemplate.jpg" alt="发票样板">
                            <span class="clickLarger">点击放大</span>
                        </div>
                        <p class="thumbnailName">客户开票信息表</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- 发票备注 板块-->
        <div id="InvoicePlate" class="plateBox mt20">
            <!-- 发票备注-->
            <div class="plateHead .borSolid">
                <h3 class="headLeft fl"> 对“发票备注”内容是否有明确的要求？</h3>
            </div>
            <div class="plateMain">
                <div class="txtAreaBox">
                    <!--<div class="dockDown">您还可以输入<span class="limitNum">200</span>个字</div>-->
                    <textarea class="txtArea .returnText" name="remarks" rows="7" maxlength="200" placeholder="如果对“发票备注”内容有明确要求，请详细填写"></textarea>
                </div>
            </div>

            <!-- 特殊备注-->
            <div class="plateHead mt20">
                <h3 class="headLeft fl"> 其他特殊要求</h3>
            </div>
            <div class="plateMain">
                <div class="txtAreaBox">
                    <!--<div class="dockDown">您还可以输入<span class="limitNum">200</span>个字</div>-->
                    <textarea class="txtArea .returnText" name="remarks" rows="7" maxlength="200" placeholder="如有其他特殊要求，请详细填写"></textarea>
                </div>
            </div>

            <!-- 操作按钮-->
            <div class="plateMain txt_c">
                <br/><br/>
                <input type="button" class="iBtn iBtn_def" value="取消">
                <input type="button" class="iBtn iBtn_yes ml20" value="确认">
            </div>
        </div>

    </div>
</div>






<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>
<script src="<%= staticPath %>/scripts/settlement/confirmTheInvoice.js"></script>

</body>
</html>



