<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/billCenter.css">
</head>

<body>
<%- include ../global/modal/modal  %>
<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="settlementManagement">
    <div class="settlementManagement">
        <div class="wrap clearfix">
            <% include ../account/sideBar  %>
            <div class="content">
                <table>
                    <thead>
                    <tr>
                        <th>发票抬头</th>
                        <th>纳税人识别号</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(settleInfo.length>0){ %>
                    <% for(i=0;i<settleInfo.length;i++){ %>
                    <tr>
                        <td><%= settleInfo[i].account %></td>
                        <td><%= settleInfo[i].taxpayerID %></td>
                        <td><%= settleInfo[i].addDate %></td>
                        <td>
                            <input type="button" value="修改" class="iBtn iBtn_xs iBtn_no">&nbsp;&nbsp;
                            <input type="button" value="删除" class="iBtn iBtn_xs iBtn_no">&nbsp;&nbsp;
                            <a href="#">查看</a>
                        </td>

                    </tr>
                    <%}%>
                    <%}else{%>
                    <tr>
                        <td colspan="6" class="noInfo">
                            <div>
                                无开票信息,请先&nbsp;&nbsp;&nbsp; <a href="#">新增开票信息</a>
                            </div>
                        </td>
                    </tr>
                    <%}%>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>
<script src="<%= staticPath %>/scripts/settlement/billCenter.js"></script>


</body>
</html>