<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/billCenter.css">
</head>

<body>
<%- include ../global/modal/modal  %>
<%- include ../global/header/header %>
<%- include ../global/header/financialSecondHeader %>

<div id="settlementManagement">
    <div class="settlementManagement">
        <div class="wrap clearfix">
            <% include ../account/sideBar  %>
            <div class="content">
                <table class="billList">
                    <thead>
                    <tr>
                        <th>发票抬头</th>
                        <th>纳税人识别号</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(receipt != null){ %>
                        <% var obj = receipt %>
                        <tr>
                            <td><%= obj.companyName %></td>
                            <td><%= obj.identificationNumber %></td>
                            <td><%= obj.createTime %></td>
                            <td>
                                <a href="confirmTheInvoice"><input type="button" value="修改" class="iBtn iBtn_xs iBtn_no"></a>&nbsp;&nbsp;
                                <input type="button" value="删除" class="iBtn iBtn_xs iBtn_no" id="delete">&nbsp;&nbsp;
                                <a href="settlementInfo?id=<%= obj.userId %>">查看</a>
                            </td>
                        </tr>
                    <%}else{%>

                        <tr>
                            <td colspan="6" class="noInfo">
                                <div>
                                    无开票信息,请先&nbsp;&nbsp;&nbsp; <a href="/settlement/confirmTheInvoice" class="iBtn iBtn_yes">新增开票信息</a>
                                </div>
                            </td>
                        </tr>

                    <%}%>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>
<script src="<%= staticPath %>/scripts/settlement/billSetting.js"></script>


</body>
</html>