<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/settlementForm.css">
</head>

<body>

<%- include ../global/header/header %>
<%- include ../global/header/subHeader %>


<!-- 以下.内容部分 -->
<div class="containerWrap">
    <div class="bodyWrap">
        <% var orderObj = data.order %>

        <!-- 重要提示 板块 -->
        <div id="doubtPlate" class="plateBox">
            <div class="plateHead borSolid">
                <span class="prefix"></span>
                <h3 class="headLeft fl"><%= subTitle %></h3>
                <!--<p class="headContent">居中标题</p>-->
                <% if(userType == 'buy') { %>
                <p class="headRight">
                    <a href="##" class="doubtInlet">重要提示</a>
                </p>
                <% } %>
            </div>
            <div class="plateMain">
                <!-- 提示框 板块 -->
                <div class="embedBox" data-status="<%= orderObj.status %>" data-type="<%= userType %>">
                    <div class="significantDoubt">
                        <h2 class="doubtTitle">重要提示：</h2>
                        <p class="entry">
                            1、本结算单由卖方出具，需经买方确认，请买方仔细核对结算单，如没有异议，请<a href="/settlement/settlementInfoDownload?orderId=<%=orderObj.id%>&userId=<%=orderObj.userId%>" class="linkPrint">下载并打印该结算单</a>，将结算单加盖买方公章和财务章后寄至卖家；<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如买方对结算单有异议的，请及时联系卖方。
                        </p>
                        <p class="entry">
                            2、如果实际结算货款<span class="light">少于已付货款</span>，确认结算后应退货款会及时退还到买方账户，卖方会在<span class="light">退款后3个工作日内</span>为买方开出发票。
                        </p>
                        <p class="entry">
                            3、如果实际结算货款<span class="light">多于已付货款</span>，确认结算后请在<span class="light">5个工作日</span>你将应付货款付至卖方账户，
                            卖方确认收到应付货款后的<span class="light">3个工作日内</span>为买家开具发票。
                        </p>
                        <p class="entry">4、如果买方在<span class="light">5个工作日内不确认结算</span>，本次交易将<span class="light">自动进入纠纷处理</span>程序。</p>
                    </div>
                </div>

            </div>
        </div>


        <!-- 退回原因提示框 板块 -->
        <%- include ../Plugins/reasonsReturnPlate %>


        <!-- 结算单信息 板块-->
        <%- include ../Plugins/settlementInfoPlate %>


        <!-- 补充协议文件 板块 -->
        <% var isSupply_buy = (userType == 'buy' && (orderObj.status == 'WaitVerifySettle' || orderObj.status == 'ReturnedSettleAccounts')) %>
        <% var isSupply_sell = (userType == 'sell' && (orderObj.status == 'WaitSettleAccounts' || orderObj.status == 'ReturnedSettleAccounts')) %>
        <% var isSupply_only = (userType == 'sell' && orderObj.status == 'WaitVerifySettle') %>
        <div id="supplyAgreementPlate" class="fileOperation mt20 clearfix">
            <div class="fileOperation_title fl">
                <p class="fileTitle">
                    <% if(isSupply_only || (userType == 'buy' && orderObj.status == 'ReturnedSettleAccounts')) {%>
                    <span class="require">&nbsp;</span>
                    <% } else { %>
                    <span class="require">*</span>
                    <% } %>
                    补充协议文件：
                </p>
            </div>
            <div class="fileOperation_body">
                <div class="fileList">
                    <div class="supplyFileList" style="display: inline-block">
                        <% if(isSupply_sell){ %>
                        <span class="iBtn iBtn_up mb10">
                            <i class="iBtn_up_icn"></i>点击上传
                            <input id="supplyFile" class="iptFile" data-url="/api/upload-file" type="file" name="files">
                        </span>
                        <% } %>
                        <% if(userType == 'buy'){ %>
                        <!-- 买家下载-->
                        <a href="<%=zipSavePath || '' %>" class="iBtn iBtn_down"><i class="iBtn_down_icn"></i>下载附件 </a>
                        <% } %>

                        <% data.files = data.files ? data.files : [] %>
                        <% for(var x = 0, s = data.files.length; x < s; x++ ){ %>
                            <% var fileObj = data.files[x]; %>
                            <% if(isSupply_sell && fileObj ){ %>
                            <!-- 卖家编辑附件 -->
                            <p class="fileLab mb10">
                                <span class="fileLab_name"><%=fileObj.name %></span>
                                <span class="fileLab_del" data-name="<%=fileObj.name %>" data-id="<%=fileObj.path %>"></span>
                            </p>
                            <% } %>
                            <% if(isSupply_only && fileObj ){ %>
                            <!-- 卖家查看-->
                            <p class="fileLab mb10 only">
                                <span class="fileLab_name"><%=fileObj.name %></span>
                                <span class="fileLab_del" data-name="<%=fileObj.name %>" data-id="<%=fileObj.path %>"></span>
                            </p>
                            <% } %>
                        <% } %>
                    </div>

                </div>
                <p class="fileExplain bright">在审核时请详细查看文件。</p>
            </div>
        </div>


        <!-- 清算货款信息 板块-->
        <% if(userType == 'buy' && (orderObj.status == 'WaitVerifySettle' || orderObj.status == 'WaitSettleAccounts')) { %>
        <div id="clearPaymentPlate" class="plateBox mt20">
            <div class="plateHead borSolid">
                <span class="prefix"></span>
                <h3 class="headLeft fl">清算货款确认</h3>
            </div>
            <div class="plateMain">
                <p class="liquidationTime">付款时间:  <span class="time"><%= orderObj.paymentTime %></span></p>
                <table class="liquidationGoods">
                    <tbody>
                    <tr>
                        <th>实际结算金额（元）</th>
                        <th>已付金额（元） </th>
                        <th>
                            <% if(orderObj.tailMoney > orderObj.refundMoney){ %>
                            应补货款金额（元）
                            <% }else{ %>
                            应退余款金额（元）
                            <% } %>
                        </th>
                    </tr>
                    <tr>
                        <td><%= orderObj.settleMoney %></td>
                        <td><%= orderObj.totalMoney %></td>
                        <td>
                            <span class="bright">
                                <% if(orderObj.tailMoney > orderObj.refundMoney){ %>
                                    <%= orderObj.tailMoney %>
                                <% }else{ %>
                                    <%= orderObj.refundMoney %>
                                <% } %>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <% } %>


        <!-- 上传盖章结算单 板块 -->
        <% if(userType == 'buy' && orderObj.status == 'WaitVerifySettle') { %>
        <div id="upSealPlate" class="fileOperation mt20">
            <div class="fileOperation_title fl">
                <p class="fileTitle">
                    <span class="require">*</span>上传盖章结算单：
                </p>
            </div>
            <div class="fileOperation_body">
                <div class="fileList">
                     <span class="iBtn iBtn_up mb10">
                        <i class="iBtn_up_icn"></i>点击上传
                        <input id="upSealFile" class="iptFile" data-url="/api/upload-file" type="file" name="files">
                    </span>
                    <div class="upSealFileList" style="display: inline-block">
                    </div>
                </div>
                <p class="fileExplain ">
                    提示：1.  请将结算单下载并加盖公章或财务章，
                    <a href="/settlement/settlementInfoDownload?orderId=<%=orderObj.id%>&userId=<%=orderObj.userId%>" class="linkPrint">《下载结算单》</a><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    2.要求扫描件或者照片，大小<span class="bright">不超过5M</span>，如果多个文件，请压缩上传文件夹。</p>
            </div>
        </div>
        <% } %>


        <!-- 操作按钮 模块 -->
        <% var isOperate_buy = (userType == 'buy' && orderObj.status == 'WaitVerifySettle') %>
        <% var isOperate_sell = (userType == 'sell' && (orderObj.status == 'WaitSettleAccounts' || orderObj.status == 'ReturnedSettleAccounts')) %>
        <% if(isOperate_buy || isOperate_sell) {%>
        <div id="operationBtnPlate" class="operationBox mt20">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <% if(isOperate_buy) { %>
            <input type="button" class="iBtn iBtn_no" value="提出异议" data-toggle="modal" data-target="#reasonsReturnModal" />
            <input type="button" id="btnSubAuditing" class="iBtn iBtn_yes ml20" value="确认结算">
            <% } else {%>
            <input type="button" id="btnSubSettlement" class="iBtn iBtn_yes ml20" value="确认">
            <% } %>
            <p>&nbsp;</p>
        </div>
        <% } %>

    </div>
</div>



<!-- 结算单退回原因: 模态框-->
<div class="modal fade" id="reasonsReturnModal" role="dialog">
    <div class="modal-dialog modal-pl" role="document">
        <div class="modal-content mt180 ">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close"></span>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <div class="pad_15">
                    <div class="txtAreaBox">
                        <div class="dockDown">您还可以输入<span class="limitNum reasonSize_md">500</span>个字</div>
                        <textarea class="txtArea .returnText" id="oneRemarks" rows="10" maxlength="500" placeholder="请简要填写退回原因，限500个字"></textarea>
                    </div>
                </div>
            </div>
            <p class="txt_c">
                <input type="button" class="iBtn iBtn_def" value="取消" data-dismiss="modal" />
                <input type="button" id="subReturnReason" class="iBtn iBtn_yes ml20" value="确认" />
                <br/><br/><br/>
            </p>
        </div>
    </div>
</div>


<!-- 重要提示: 模态框-->
<div class="modal fade" id="significantModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content significantModalCon" style="margin-top:193px;">
            <!-- 重要提示-->
        </div>
    </div>
</div>


<!-- 操作提示信息: 模态框-->
<div class="modal fade" id="operationInfoModal" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mt150 ">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close"></span>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <span class="icn_successMax option_info_icn"></span>
                <p class="option_info">结算单已重新提交到买家确认！</p>
                <p class="option_warn"><span class="bright counterNum">3S</span> 后自动关闭</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>



<input type="hidden" name="orderStatus" value="<%= orderObj.status %>" data-status="<%= orderObj.statusName %>" />
<input type="hidden" name="orderId" value="<%= orderObj.id %>" />
<input type="hidden" name="userId" value="<%= orderObj.userId %>" />
<input type="hidden" name="sellerId" value="<%= orderObj.sellerId %>" />
<input type="hidden" name="version" value="<%= orderObj.version %>" />
<input type="hidden" class="site_page" value="<%= config.site_page %>" />



<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/settlement/settlementForm.js"></script>

</body>
</html>



