<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/billCenter.css">
</head>

<body>
<%- include ../global/modal/modal  %>
<%- include ../global/header/financialFirstHeader %>
<%- include ../global/header/financialSecondHeader %>

<div id="settlementManagement">
    <div class="settlementManagement">
        <div class="wrap clearfix">
            <% include ../account/sideBar  %>
            <div class="content">
                <% include billSearch %>
                <table class="billList">
                    <thead>
                    <tr>
                        <th>交易流水号</th>
                        <th>金额</th>
                        <th>结算时间</th>
                        <th>对方账号名称</th>
                        <th>开票状态</th>
                        <th class="last">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% if(receiptOrder.type==1){ %>
                    <% if(receiptOrder.list.length>0){ %>
                        <% for(i=0;i<receiptOrder.list.length;i++){ %>
                            <% var obj = receiptOrder.list[i] %>
                            <tr>
                                <td><%= obj.transactionNO %></td>
                                <td><%= formatMoney(obj.totalMoney ,2)%></td>
                                <td><%= obj.settleAccountTime %></td>
                                <td><%= obj.otherCompanyName %></td>
                                <td>待开票</td>
                                <td>
                                    <div class="btn settle"><input type="button" value="确认已开票" class="iBtn iBtn_xs iBtn_no"></div>
                                    <a href="settleDetails?id=<%=obj.orderId %>">查看详情</a>
                                </td>
\
                            </tr>
                        <%}%>
                    <%}else{%>
                        <tr>
                            <td colspan="6" class="noInfo">
                                <div>
                                    您目前没有待开发票
                                </div>
                            </td>
                        </tr>
                    <%}%>
                    <%}%>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>


<script src="<%= staticPath %>/scripts/settlement/billCenter.js"></script>
</body>
</html>