<div id="paymentHeader">
    <div class="headWrap">
            <div class="wrap1000">
                <ul class="menuList">
                    <li class="noborder"><span class="icon-phone"></span><span>移动客户端</span></li>
                </ul>

                <ul class="menuList rightMenuList">
                    <li>欢迎来到易煤网<% if(user && user.id){ %>，<a href="<%= config.site_page%>"><%if(user.verifystatus != "审核通过") {%>
                            <%=user.nickname?user.nickname:user.securephone %>
                            <%}else{ %> <%=user.companyName.length<=8?user.companyName:user.companyName.substring(0,8)+"..."%>
                            <%}%></a><% } %></li>

                    <!--登录状态-->
                    <% if(user && user.id){ %>
                    <!--<li>职务：<%= user.nickname %></li>-->
                    <li><a href="<%= config.passport.member %>/logout?gotoURL=<%= currentLocation %>&from=<%= config.domain %>">退出</a></li>
                    <% }else{ %>
                    <!--未登录状态-->
                    <li><a href="<%= config.passport.member %>/login?gotoURL=<%= currentLocation %>&from=<%= config.domain %>">登录</a></li>
                    <li><a href="<%= config.passport.member %>/register?gotoURL=<%= currentLocation %>&from=<%= config.domain %>">注册</a></li>
                    <% } %>

                    <li class="webNav">
                        <a href="<%= config.passport.member%>/aboutUs">关于我们</a>
                        <span class="triggle"></span>
                        <ul class="hideMenu">
                            <li><a href="<%= config.site_page%>">首页</a></li>
                            <li><a href="<%= config.site_page%>/mall">易煤商城</a></li>
                            <li><a href="<%= config.site_page%>/buy">现货搜索</a></li>
                            <li><a href="<%= config.site_page%>/tender">阳光采购</a></li>
                            <li><a href="<%= config.site_page%>/sell">报价区</a></li>
                            <li><a href="<%= config.site_page%>/finance">金融</a></li>
                            <li><a href="<%= config.site_page%>/group">团购</a></li>
                            <li><a href="<%= config.site_page%>/news">行情资讯</a></li>
                            <li><a href="<%= config.site_page%>/dataCenter">数据中心</a></li>
                        </ul>
                    </li>
                    <li class="noborder"><span class="icon-tel"></span><span>400-960-1180</span></li>
                </ul>
            </div>
        </div>
</div>
