<div id="paymentHeader">
    <div class="headWrap">
            <div class="wrap1000">
                <ul class="menuList">
                    <li class="webNav">
                        <a href="javascript:void(0)">网站导航</a>
                        <span class="triggle"></span>
                        <ul class="hideMenu">
                            <li><a href="<%=sitepage%>">首页</a></li>
                            <li><a href="<%=sitepage%>/mall">易煤商城</a></li>
                            <li><a href="<%=sitepage%>/buy">现货搜索</a></li>
                            <li><a href="<%=sitepage%>/tender">阳光采购</a></li>
                            <li><a href="<%=sitepage%>/sell">报价区</a></li>
                            <li><a href="<%=sitepage%>/finance">金融</a></li>
                            <li><a href="<%=sitepage%>/group">团购</a></li>
                            <li><a href="<%=sitepage%>/news">行情资讯</a></li>
                            <li><a href="<%=sitepage%>/dataCenter">数据中心</a></li>
                        </ul>
                    </li>
                    <li><a href="<%=sitepage%>/account/getMyOrders">业务管理中心</a></li>
                    <li class="noborder"><a href="/">财务管理中心</a></li>
                </ul>

                <ul class="menuList rightMenuList">
                    <!--登录状态-->
                    <% if(user && user.id){ %>
                    <li><a href="../account/accountSetting">账户名：<%= user.nickname || user.securephone %></a></li>
                    <li class="noborder"><a href="<%= config.passport.member %>/logout?gotoURL=<%= currentLocation %>&from=<%= config.domain %>">退出</a></li>
                    <% }else{ %>
                    <!--未登录状态-->
                    <li><a href="<%= config.passport.member %>/login?gotoURL=<%= currentLocation %>&from=<%= config.domain %>">登录</a></li>
                    <li class="noborder"><a href="<%= config.passport.member %>/register?gotoURL=<%= currentLocation %>&from=<%= config.domain %>">注册</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
</div>
