<% var orderObj = data.order %>
<% if(orderObj.status == 'WaitVerifySettle' || orderObj.status == 'ReturnedSettleAccounts' || orderObj.status == 'ReturnedDeliveryGoods') {%>

<!-- 退回原因提示框 板块 -->
<div id="reasonsReturnPlate">
    <% if(userType == 'buy' && orderObj.status == 'WaitVerifySettle'){ %>
    <!-- 待审核.状态提示-->
    <div class="reasonsReturn mt20">
        <div class="reasonsReturn_back show">
            <h2 class="returnTitle"><span class="statusLab">当前状态：</span>待确认结算</h2>
            <p class="sf">
                <!--您还有-->
                <!--<span class="bright Day">12</span>天-->
                <!--<span class="bright Hour">12</span>小时-->
                <!--<span class="bright Minute">12</span>分-->
                <!--<span class="bright Second">12</span>秒来-->
                请在<span class="bright Day">12</span>天内
                确认结算单，<span class="bright">超时系统将默认</span>贵公司已确认结算单。</p>
        </div>
    </div>
    <% } %>

    <% if(userType == 'buy' && orderObj.status == 'ReturnedSettleAccounts' || orderObj.status=='ReturnedDeliveryGoods'){ %>
    <% orderObj.returnReason = orderObj.returnReason || ''%>
    <div class="reasonsReturn mt20">
        <!-- 审核退回.查看原因-->
        <div class="reasonsReturn_view show">
            <h2 class="returnTitle">您已退回结算单，等待卖家修改!</h2>
            <table class="returnTab">
                <tbody>
                <tr>
                    <td width="66">退回原因：</td>
                    <td>
                        <span class="bright labReturnReason"><%= orderObj.returnReason || orderObj.deliveryReturnReason %></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span class="labReturnTime"><%= orderObj.lastEditReasonTime || orderObj.editDeliveryReasonTime  %></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" id="btnTriggerEdit" class="iBtn iBtn_sm iBtn_edit mt10" value="修改退回原因"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 审核退回.修改原因-->
        <div class="reasonsReturn_edit .show">
            <h2 class="returnTitle">您已退回结算单，等待卖家修改!</h2>
            <table class="returnTab">
                <tbody>
                <tr>
                    <td class="va_top" width="66">退回原因：</td>
                    <td>
                        <div class="txtAreaBox">
                            <div class="dockDown">您还可以输入<span class="limitNum reasonSize"><%= (200 - orderObj.returnReason.length) || (200 - orderObj.deliveryReturnReason.length)%></span>个字</div>
                            <textarea class="txtArea" id="inpReasonEdit" rows="7" maxlength="200" placeholder="您可输入汉字、英文、数字、符号。"><%= orderObj.returnReason || orderObj.deliveryReturnReason %></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><%= orderObj.lastEditReasonTime %></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="txt_c">
                        <input type="button" id="btnCancelTrigger" class="iBtn iBtn_def" value="取消">
                        <input type="button" id="subEditReason" class="iBtn iBtn_yes ml20" value="确认"><br/><br/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>

    <% if(userType == 'sell' && orderObj.status == 'ReturnedSettleAccounts'){ %>
    <!-- 审核退回.卖家修改-->
    <div class="reasonsReturn againRefer mt20">
        <div class="reasonsReturn_view show">
            <h2 class="returnTitle">结算单已被买家退回，请核算修改之后重新提交!</h2>
            <table class="returnTab">
                <tbody>
                <tr>
                    <td width="66">退回原因：</td>
                    <td>
                        <span class="bright"><%= orderObj.returnReason%></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><%= orderObj.lastEditReasonTime %></td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
</div>
<% } %>