<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/pay.css">
</head>

<body>

<%- include ../global/header/header %>
<%- include ../global/header/subHeader %>

<div class="mainWrapper">
    <h3 class='pageTitle'><span></span>易煤网 — 在线支付</h3>
    <form method="post" id='pay'>
      <input type="hidden" name="orderId" value="<%= order.id %>" />
      <input type="hidden" name="version" value="<%= order.version %>">
      <ul class='seller'>
        <li><span>卖家公司：</span><%= order.sellerCompanyName %><span class='fund'><i><%= formatMoney(order.totalMoney) %></i>元</span></li>
        <li><span>收款账号：</span><%= order.sellerFundAccount %><span class='fund'>(大写：<%= switchTxt(order.totalMoney) %>)</span></li>
      </ul>
      <% if(order.sellerBalanceMoney>order.totalMoney) {%>
      <ul class="buyer">
        <li><input type="radio" checked /></li>
        <li>
          <p><span><i class='icon_cash'></i>账户余额：</span><%= formatMoney(order.sellerBalanceMoney) %>元</p>
          <p>(大写：<%= switchTxt(order.sellerBalanceMoney) %>)</p>
        </li>
        <li>支付<span><%= formatMoney(order.totalMoney) %></span>元</li>
      </ul>
      <ul class='valid'>
        <%- include ../../custom_components/ccapimg-modal/form-part %>
        <li>
          <label>支付密码：</label><input type="text" name="payPassword" value=""><a class="forget"  href='/ucenter/paypassword/fg/vl'>忘记秘密</a>
          <p class='tip-msg'>请输入6位数字的支付密码</p>
          <p class='tip-error'></p>
        </li>
      </ul>
      <input id='payBtn' class='btn_blue payBtn' type="button" value="确认付款" />
      <% }else{ %>
        <ul class="buyer noneBalance">
            <li><input type="radio" disabled /></li>
            <li>
                <p><span><i class='icon_cash_disable'></i>账户余额：</span><%= formatMoney(order.sellerBalanceMoney) %>元</p>
                <p>(大写：<%= switchTxt(order.sellerBalanceMoney) %>)</p>
            </li>
        </ul>
        <dl class="tip-msg noneBalance">
            <dt>您的<span>余额不足</span>，无法进行支付，请先对易煤网资金账户进行<a href=''>充值</a>，然后再进行支付！</dt>
            <dd>提示：为您的资金安全，我们建议您使用贵公司的同名账户进行充值。</dd>
        </dl>
        <% } %>
    </form>
</div>

<%- include ../../custom_components/ccapimg-modal/ccapimg-modal %>
<%- include blocks/passerr.ejs %>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="/dist/scripts/pay/index.js"></script>

</body>
</html>
