<% layout('../global/globalTemp/globalTemp') -%>
<% stylesheet('/static/styles/pay.css') -%>
<% include ../global/header/subHeader %>
<div class="mainWrapper">
    <h3 class='pageTitle'><span></span>易煤网 — 在线支付</h3>
    <form method="post" id='pay'>
      <input type="hidden" name="orderId" value="<%= order.id %>" />
      <input type="hidden" name="version" value="<%= order.version %>">
      <ul class='seller'>
        <li><span>卖家公司：</span><%= order.sellerCompanyName %><span class='fund'><i><%= formatMoney(order.totalMoney) %></i>元</span></li>
        <li><span>收款账号：</span><%= order.sellerFundAccount %><span class='fund'>(大写：<%= switchTxt(order.totalMoney) %>)</span></li>
      </ul>
      <% if(order.sellerBalanceMoney>order.totalMoney) {%>
      <ul class="buyer">
        <li><input type="radio" checked /></li>
        <li>
          <span>账户余额：<%= formatMoney(order.sellerBalanceMoney) %>元</span>
          <span>(大写：<%= switchTxt(order.sellerBalanceMoney) %>)</span>
        </li>
        <li>支付：<span><%= formatMoney(order.totalMoney) %></span>元</li>
      </ul>
      <ul>
        <li>手机号码：<%= user.phone %><span id='send_code' class='send_code' data-toggle='modal' role='button' data-target='#imgcodeModal'>发送校验码</span></li>
        <li>
          校验码：<input type="text" name="sms_code" value="">
          <p class='tip-msg'></p>
          <p class='tip-error'></p>
        </li>
        <li>易煤网支付密码：</li>
        <li>
          <input type="text" name="payPassword" value=""><a href=''>忘记秘密</a>
          <p class='tip-error'></p>
          <p>请输入6位数字的支付密码</p>
        </li>
      </ul>
      <input id='payBtn' class='btn_blue' type="button" value="确认付款" />
      <% }else{ %>
        <ul class="buyer none">
          <li><input type="radio" disabled /></li>
          <li>
            <span>账户余额：<%= formatMoney(order.sellerBalanceMoney) %>元</span>
            <span>(大写：<%= switchTxt(order.sellerBalanceMoney) %>)</span>
          </li>
        </ul>
      <% } %>
    </form>
</div>
<% include blocks/imgcode.ejs %>
<% script("/static/scripts/pay/index.js") -%>
