<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <div class="record-div">
        <table class="table financeDetailTable">
            <tr>
                <th >交易日期</th>
                <th >交易流水号</th>
                <th >金额</th>
                <th >账户余额</th>
                <th >摘要</th>
                <th >对方账号</th>
                <th >对方账号名称</th>
            </tr>

            <% orderList.forEach(function(order){ %>
            <tr>
                <td><%= order.createDate %></td>
                <td><%= order.transactionNO %></td>
                <td><%= helper.formatMoney(order.money) %> </td>
                <td><%= helper.formatMoney(order.balanceMoney) %></td>
                <td><%= order.type %></td>
                <td><%= order.otherFundAccount %></td>
                <td><%= order.otherCompanyName %></td>
            </tr>
            <% }); %>

        </table>
    </div>


</div>
</body>
</html>

