<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/buyOrderDetail.css">
</head>

<body>

<%- include ../global/header/header %>

<%- include ../global/header/subHeader %>


<div id="order-detail-body">
    <div class="main-content">
        <div class="center-content">
            <!-- 状态进度条 -->
            <% include ../global/order/statusBar %>

            <div class="status-content">
                <input type="hidden" id="orderId" value="<%=order.id%>" />
                <div class="state-item fs-24"><span>当前订单状态：</span>
                    <% if(order.status=='WaitSignContract'){ %>
                    <span class="status">货物已下单，请及时签订电子合同</span>
                    <% }else if(order.status=='WaitPayment'){ %>
                    <span class="status">已签订电子合同，请及时支付货款</span>
                    <% }else if(order.status=='WaitConfirmDelivery'){ %>
                    <span class="status">已付款</span><span class="status-hint">(您可以及时联系卖家<span class="orange">沟通提货时间</span>)</span>
                    <% }else if(order.status=='ReturnedDeliveryGoods'){ %>
                    <span class="status-return">提货被卖家退回，等待确认提货</span>
                    <% }else if(order.status=='WaitSettleAccounts'){ %>
                    <span class="status">已确认提货，等待结算</span>
                    <% }else if(order.status=='WaitReceiveReceipt'){ %>
                    <span class="status">已确认结算，交易完成</span>

                    <% }else if(order.status=='TradeClosed'){ %>
                    <span class="status-close">交易关闭</span>
                    <% } %>
                </div>
                <% if(order.status=='WaitSignContract'){ %>
                <div class="state-item mt-20 hint"><span>1. 点击这里</span><span class="iBtn iBtn_xs iBtn_no ml-10 btn-sign">签订合同</span></div>
                <div class="state-item mt-10 hint"><span>2. 如果您不想购买该煤炭，或者下单错误，您可以&nbsp;<a class="btn-close">关闭交易</a></span></div>
                <% }else if(order.status=='WaitPayment'){ %>
                <div class="state-item mt-20 hint"><span>1. 点击这里</span><span class="btn-option btn-pay">付款</span></div>
                <div class="state-item mt-10 hint"><span>2. 如果您不想购买该煤炭，或者下单错误，您可以&nbsp;<a class="btn-close">关闭交易</a></span></div>
                <% }else if(order.status=='WaitConfirmDelivery'){ %>
                <div class="state-item mt-20 hint"><span>1. 如果您已提货，请及时确认提货</span><span class="btn-option btn-take-good">确认提货</span></div>
                <div class="state-item mt-10 hint"><span>2. 如果您在交易过程中发生纠纷，您可以&nbsp;<a class="btn-close">申请纠纷处理</a></span></div>
                <div class="state-item mt-10 hint"><span>2. 如果您需要其他的帮助，请及时联系卖家或者易煤网客服：400-960-1180</span></div>
                <% }else if(order.status=='ReturnedDeliveryGoods'){ %>
                <div class="state-item mt-20 hint"><span>退回原因：您可以查看退回原因并重新确认提货，您可以&nbsp;<a class="btn-close">查看退回详情>></a></span></div>
                <% }else if(order.status=='WaitSettleAccounts'){ %>
                <div class="state-item mt-20 hint"><span>等待卖家进行发出结算单，您可以&nbsp;</span><span class="btn-option btn-pay">提醒卖家开具结算单</span></div>
                <% }else if(order.status=='WaitReceiveReceipt'){ %>
                <div class="state-item mt-20 hint"><span>1. </span><span class="orange">已成功将尾款<%= formatMoney(order.totalMoney,2) %>元(<%= switchTxt(order.totalMoney) %>)转账到卖家账户</span><span>，请及时联系卖家开具发票！</span></div>
                <div class="state-item mt-10 hint"><span>2. 如果您需要支付电子回单，进入银行电子回单系统进行打印&nbsp;</span><span class="btn-option btn-sign">打印回单</span></div>

                <% }else if(order.status=='TradeClosed'){ %>
                <div class="state-item mt-20 hint"><span>关闭原因：<%= order.closeReason %>，订单关闭</span></div>
                <% } %>
            </div>

            <!-- 卖家、卖家信息 -->
            <% include ../global/order/orderUserInfo %>
            <!-- 订单表格 -->
            <% include ../global/order/orderTable %>

            <div class="btn-bottom">
                <span class="btn-print"><i class="btn-ico"></i>打印订单详情</span>
            </div>
        </div>
    </div>
</div>

<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/order/buyOrderDetail.js"></script>

</body>
</html>



