<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/orderClose.css">
</head>

<body>

<%- include ../global/header/header %>

<%- include ../global/header/subHeader %>


<% var orderObj = data.order %>
<!-- 以下.内容部分 -->
<div class="containerWrap">
    <div class="bodyWrap">

        <!-- 关闭板块 -->
        <div class="plateBox">
            <div class="plateHead">
                <span class="prefix"></span>
                <h3 class="headLeft fl">交易关闭
                    <!--<s class="require lih_16">*</s>上传开票信息-->
                    <!--<p class="headLeft_hint">&nbsp;&nbsp;&nbsp;( 请先 <a href="" class="a">下载样板</a>，然后拍照上传 )</p>-->
                </h3>
                <!--<p class="headContent">居中标题</p>-->
                <!--<p class="headRight">-->
                    <!--<span class="doubtInlet">-->
                    <!--<s class="require">*</s> 为必填项目-->
                    <!--</span>-->
                    <!--<a href="" class="doubtInlet">重要提示</a>-->
                <!--</p>-->
            </div>
            <div class="plateMain borSolid clearfix">
                <!-- 左侧-->
                <div class="sidebarWrap fl">
                    <div class="termBox">
                        <dl>
                            <dt>订单号：</dt>
                            <dd><%= orderObj.orderNO%></dd>
                        </dl>
                        <% if(orderObj.contractNO) {%>
                        <dl>
                            <dt>合同编号：</dt>
                            <dd><%= orderObj.contractNO %></dd>
                        </dl>
                        <% } %>
                        <dl>
                            <dt>下单时间：</dt>
                            <dd><%= orderObj.createTime%></dd>
                        </dl>
                        <% if(orderObj.payTime) {%>
                        <dl>
                            <dt>付款时间：</dt>
                            <dd><%= orderObj.payTime%></dd>
                        </dl>
                        <% } %>
                        <dl>
                            <dt>订单状态：</dt>
                            <dd><span class="text_zt"><%= orderObj.statusName%></span></dd>
                        </dl>
                        <p class="term_hr"></p>
                        <dl>
                            <dt>货品金额：</dt>
                            <dd><span class="text_je"><%= orderObj.totalMoney%></span></dd>
                        </dl>
                    </div>

                    <a href="#?Id=<%= orderObj.id %>" class="linkBtn">查看订单详情 <span class="ff_st">&gt;&gt;</span></a>
                </div>
                <!-- 右侧主体-->
                <div class="mainWrap fr">
                    <form action="" name="closeForm" id="closeForm">
                        <table class="formTab tab_nBor">
                            <tbody>
                            <tr>
                                <td width="70" class="txt_r"><s class="require">*</s>原因：</td>
                                <td>
                                    <select name="reason" id="reason" class="ipt inp-sel" style="display: none;">
                                        <option value="--">选择关闭原因</option>
                                        <% data.shutdownReasonList = data.shutdownReasonList || [] %>
                                        <% data.shutdownReasonList.forEach(function(obj){ %>
                                        <option value="<%= obj.sequence %>"><%= obj.name %></option>
                                        <% }) %>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt_r">备注：</td>
                                <td>
                                    <div class="txtAreaBox">
                                        <div class="dockDown">
                                            限<span class="limitNum">500</span>字
                                        </div>
                                    <textarea class="txtArea remarks" name="remarks" rows="9" cols="70" maxlength="510"
                                              placeholder="您可输入汉字、英文、数字、符号。" ></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>
                                    <input class="iBtn subBtn" type="button" value="确定" disabled
                                           data-toggle="modal" data-target="#orderModal" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- 模态框 -->
<div class="modal fade" id="orderModal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mt150 ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                <div class="warn_ico"></div>
                <p class="warn_info">您确定关闭该笔订单交易?</p>
                <div class="txt_c mt20">
                    <button type="button" class="iBtn iBtn-cancel" data-dismiss="modal">取消</button>
                    <button type="button" class="iBtn iBtn-primary" id="btnSubClose">确定</button>
                </div>
                <p><br/><br/></p>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="id" value="<%= orderObj.id %>" placeholder="订单Id"/>
<input type="hidden" name="version" value="<%= orderObj.version %>" placeholder="版本号"/>

<%- include ../global/footer/footer %>
<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/order/orderClose.js"></script>

</body>
</html>




