<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/orderClose.css">
</head>

<body>

<%- include ../global/header/header %>

<%- include ../global/header/subHeader %>



<!-- 以下.内容部分 -->
<div class="containerWrap">
    <div class="bodyWrap">

        <!-- 关闭板块 -->
        <div class="plateBox">
            <div class="plateHead">
                <span class="prefix"></span>
                <h3 class="headLeft fl">交易关闭</h3>
                <!--<p class="headContent">居中标题</p>-->
                <!--<p class="headRight">重要提示?</p>-->
            </div>
            <div class="plateMain borSolid clearfix">
                <!-- 左侧-->
                <div class="sidebarWrap fl">
                    <div class="termBox">
                        <dl>
                            <dt>订单号：</dt>
                            <dd><%= order.orderNO%></dd>
                        </dl>
                        <% if(order.contractNO) {%>
                        <dl>
                            <dt>合同编号：</dt>
                            <dd><%= order.contractNO %></dd>
                        </dl>
                        <% } %>
                        <dl>
                            <dt>下单时间：</dt>
                            <dd><%= order.createTime%></dd>
                        </dl>
                        <% if(order.payTime) {%>
                        <dl>
                            <dt>付款时间：</dt>
                            <dd><%= order.payTime%></dd>
                        </dl>
                        <% } %>
                        <dl>
                            <dt>订单状态：</dt>
                            <dd><span class="text_zt"><%= order.status%></span></dd>
                        </dl>
                        <p class="term_hr"></p>
                        <dl>
                            <dt>货品金额：</dt>
                            <dd><span class="text_je"><%= order.totalMoney%></span></dd>
                        </dl>
                    </div>

                    <a href="#?Id=<%= order.id %>" class="linkBtn">查看订单详情 <span class="ff_st">&gt;&gt;</span></a>
                    <input type="hidden" name="id" value="<%= order.id %>" placeholder="订单Id"/>
                    <input type="hidden" name="version" value="<%= order.version %>" placeholder="版本号"/>
                </div>
                <!-- 右侧主体-->
                <div class="mainWrap fr">
                    <form action="" name="closeForm" id="closeForm">
                        <table class="formTab nBorTab">
                            <tbody>
                            <tr>
                                <td width="70" class="txt_r"><s class="require">*</s>原因：</td>
                                <td>
                                    <select name="reasonId" id="reasonId" class="ipt inp-sel">
                                        <option value="--">选择关闭原因</option>
                                        <% shutdownReasonList.forEach(function(obj){ %>
                                        <option value="<%= obj.sequence %>"><%= obj.name %></option>
                                        <% }) %>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="txt_r">备注：</td>
                                <td>
                                    <div class="txtAreaBox">
                                        <div class="dockDown">
                                            限<span class="limitNum">500</span>字
                                        </div>
                                    <textarea class="txtArea remarks" name="remarks" rows="9" cols="70" maxlength="510"
                                              placeholder="您可输入汉字、英文、数字、符号。" ></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <input class="iBtn subBtn" type="button" value="确定" disabled
                                           data-toggle="modal" data-target="#orderModal" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- 模态框 -->
<div class="modal fade" id="orderModal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content mt150 ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                <div class="warn_ico"></div>
                <p class="warn_info">您确定关闭该笔订单交易?</p>
                <div class="txt_c mt20">
                    <button type="button" class="iBtn iBtn-cancel" data-dismiss="modal">取消</button>
                    <button type="button" class="iBtn iBtn-primary" id="btnSubClose">确定</button>
                </div>
                <p><br/><br/></p>
            </div>
            <!--<div class="modal-footer txt_c"></div>-->
        </div><!-- /.modal-content -->
    </div>
</div>


<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="/dist/scripts/order/orderClose.js"></script>

</body>
</html>




