<div class="compactContainer">
  <input type='hidden' name='needGenerate' value='<%= imgs.length %>' />
  <input type='hidden' name='version' value='<%= version %>'/>
  <% if(imgs.length>0){ %>
  <h4 class='blockTitle'>合同内容详情（共<%= imgs.length %>页）<a class='btn_download' href='/api/compactpdf'><span class='icon_download'></span>下载合同</a></h4>
  <div id="compactImgs" class='flexslider carousel'>
  <!-- Carousel items -->
    <ul class="slides">
      <% imgs.forEach(function(img, index){ %>
        <li class="item">
          <a href='/api/compactimg?index=<%= index %>' data-lightbox='compact-lightbox'>
            <img src='/api/compactimg?orderId=<%= orderId %>&index=<%= index %>'/>
            <p class='scaleView'><span class='pngbg'></span><span class='icon_glass'></span>点击放大</p>
          </a>
          <p class='currentIndex'>第<%= index+1 %>页</p>
        </li>
      <% }) %>
    </ul>
    <div class="custom-navigation">
      <a href="#" class="flex-prev"></a>
      <div class="custom-controls-container"></div>
      <a href="#" class="flex-next"></a>
    </div>
  </div>
  <% }else{ %>
    <h4 class='blockTitle'>合同内容详情</h4>
    <div class="generating">
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> 正在生成合同......
    </div>
  <% } %>
</div>
