<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="<%= staticPath %>/styles/financialHome.css">
    <link rel="stylesheet" href="<%= staticPath %>/styles/drawCash/drawCash.css">
	<script type="text/javascript" src="<%= staticPath %>/components/respond/dest/respond.min.js"></script>
</head>

<body class="add-bg">


<%- include ../global/header/header %>
<%- include ../global/header/financialSecondHeader %>

<div id="financial-body">
	<div class="financial-main draw-cash">
		<div class="figure-wrap" id="drawCashConfirm">
			<div class="figure-caption">
				<span>确认信息</span>
				<a href="/wealth/financialDetails?category=2">提现记录</a>
			</div>
			<div class="figure-content">
				<form action="" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-5 control-label">选择银行卡：</label>
						<div class="col-sm-5 txt-strong">
							<p class="para-name"><%= companyName %></p>
							<p class="para-bank"><%= bankName %>:<%-fundAccountFormat(bankAccount,true) %></p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">提现金额：</label>
						<div class="col-sm-4 padding-top-6 font-size-18">
							<%= cash %> 元
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 control-label">到账时间：</label>
						<div class="col-sm-5 padding-top-8">
							<p class="font-size-14 font-weight">公司账户最快<span class="text-primary">T+0</span>工作日到账</p>
							<p class="font-size-12 color-gray2">当日16：00以后提款且金额超过<span class="text-primary">5千万</span>可能出现系统延迟</p>
						</div>
					</div>
				</form>
				<div class="zhifu">
					<form action="/drawCashStatus" method="post" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-5 control-label">手机号码</label>
							<div class="col-sm-4">
								<input type="text" class="form-control readonly-txt" value="<%= payPhone %>" readonly id="payPhone">		
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">验证码</label>
							<div class="col-sm-4">
								<input type="text" class="form-control more-height" placeholder="请输入验证码" value="" maxlength="10" name="sms_code" id="vertifyCode"><span class="countDown" id="send_code" data-target="#imgcodeModal" data-toggle="modal">获取验证码</span>
								<p class="padding-top-8 password-info text-danger display-none" id="vertifyCodeError">校验码输入有误</p>
							</div>

						</div>
						<div class="form-group">
							<label class="col-sm-5 control-label">易煤网支付密码</label>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="confirmTxt" name="password">
								<p class="padding-top-8 password-info text-danger display-none" id="confirmErr">请输入6-20位数字或英文字母或下划线</p>
							</div>
							<div class="col-sm-2 forget-password padding-top-6">
								<a href="/ucenter/paypassword/fg/set">忘记密码</a>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-5 col-sm-4">
								<input type="button" class="iBtn iBtn_yes" value="确认" id="confirmBtn">
								<a href="/drawCash" class="margin-left-10">返回上一步</a>
							</div>
							<p id="errorMsg" class="col-sm-offset-5 col-sm-4 text-danger padding-top-8"></p>
						</div>
						<input type="hidden" name="confirmToken" value="<%= confirmToken %>" id="confirmToken"/>
						<input type="hidden" name="cash" value="<%= cash %>" id="cash" />
						<input type="hidden" name="companyName" value="<%= companyName %>" id="companyName"/>
					</form>
					<form action="/cashSuccess" method="post" class="display-none" id="successForm">
						<input type="hidden" name="confirmToken" value="<%= confirmToken %>" id="confirmToken"/>
						<input type="submit" value="提交" />
					</form>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="payPhone" value="<%= payPhone %>" id="userId"/>
</div>
<!--验证码弹窗-->
<%- include ../../custom_components/ccapimg-modal/ccapimg-modal %>
<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="<%= staticPath %>/scripts/header/financialHeader.js"></script>
<script src="<%= staticPath %>/scripts/drawCash/drawCash.js"></script>

</body>
</html>
