<%- include ../global/includehead/doctype %>
<head>
    <%- include ../global/includehead/head %>
    <link rel="stylesheet" href="/dist/styles/compact.css">
</head>

<body>

<%- include ../global/header/header %>

<%- include ../global/header/subHeader %>

<div class="mainWrapper">
    <h3 class='pageTitle'><span></span>签订电子合同</h3>
    <%- include blocks/readme %>
    <%- include blocks/compact %>
    <%- include blocks/upload %>
</div>


<%- include ../global/footer/footer %>

<%- include ../global/includehead/bottomscript %>

<script src="/dist/scripts/compact/index.js"></script>

</body>
</html>
