<%- include ../includehead/doctype %>
<head>
    <%- include ../includehead/head %>
    <link rel="stylesheet" href="/static/styles/global.css">
</head>

<body>

<%- include ../header/header %>


<h1>500 System Error</h1>
<%- status %> <br/>
<%- message %> <br/>
<%- error.stack %> <br/>


<%- include ../footer/footer %>

<%- include ../includehead/bottomscript %>

<!--<script src="/static/scripts/compact/index.js"></script>-->

</body>
</html>

