<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <div class="record-div">
        <table class="table financeDetailTable">
            <tr>
                <th >交易日期</th>
                <th >交易流水号</th>
                <th >金额</th>
                <th >账户余额</th>
                <th >交易类型</th>
                <th >对方账号</th>
                <th >对方账号名称</th>
                <th >对方开户行</th>
                <th >操作</th>
            </tr>

            <% orderList.forEach(function(order){ %>
            <tr>
                <td><%= order.createDate %> </td>
                <td><%= order.transactionNO %></td>
                <td><%= formatDecimal(order.money) %></td>
                <td><%= formatDecimal(order.balanceMoney) %></td>
                <td>
                    <% if(order.type==1){ %> 充值 <% } %>
                    <% if(order.type==2){ %> 提现 <% } %>
                    <% if(order.type==3){ %> 采购 <% } %>
                    <% if(order.type==4){ %> 销售 <% } %>
                </td>
                <td><%= order.otherFundAccount %></td>
                <td><%= order.otherCompanyName %></td>
            </tr>

            <% }); %>

        </table>
    </div>


</div>
</body>
</html>

