<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <div class="record-div">
        <table class="table financeDetailTable">
            <tr>
                <th >交易日期</th>
                <th >交易流水号</th>
                <th >金额</th>
                <th >账户余额</th>
                <th >交易类型</th>
                <th >对方账号</th>
                <th >对方账号名称</th>
                <th >对方开户行</th>
                <th >操作</th>
            </tr>

            <% orderList.forEach(function(order){ %>
            <tr>
                <td > <%= order.date %> </td>
                <td ><%= order.orderNo %></td>
                <td ><%= order.amoumt %></td>
                <td ><%= order.account %></td>
                <td ><%= order.tradeType %></td>
                <td ><%= order.toPersonAccount %></td>
                <td ><%= order.toPersonAccountName %></td>
                <td ><%= order.toPersonBankName %></td>
            </tr>

            <% }); %>

        </table>
    </div>


</div>
</body>
</html>

